.vendor{ id: vendor.id }
  .title
    =vendor.name
  .content
    .links
      -unless vendor.website.blank?
        .website
          Web:
          =link_to vendor.website, get_as_url(vendor.website), :target => "_blank"
      -unless vendor.email.blank?
        .email
          Email:
          =link_to vendor.email, get_as_url(vendor.email), :target => "_blank"
    %br
    .left
      .address=vendor.address
      -if vendor.city.nil? || vendor.city.blank?
        .city_state=vendor.state
      -else
        .city_state="#{vendor.city}, #{vendor.state}"
      .zip_code=vendor.zip_code
      .country=vendor.country

    .right
      .account=vendor.account_num
      .phone
        %span.label="Ph: "
        %span.text=vendor.phone
      .fax
        %span.label="Fx: "
        %span.text=vendor.fax

