.vendor_edit_box{ id: @vendor.id }
  %h2
    =@title
  .edit_box_content
    =form_for(@vendor, remote: true) do |f|
      .content
        .vendor_name        
          .params
            =f.label :name, 'Name'
            =f.text_field :name
        -unless @vendor.id.nil?
          -permitted_to? :delete, :vendors do
            .destroy
              .delete_a
                =link_to "Delete Vendor", @vendor, method: :delete, data: { confirm: "Are you sure?" }, remote: true

        .links
          .params
            =f.label :website, 'Web'
            =f.text_field :website
          .params
            =f.label :email, 'Email'
            =f.text_field :email

        .left
          .params
            =f.label :address, 'Address'
            =f.text_field :address
          .params
            =f.label :city, 'City'
            =f.text_field :city
          .params
            =f.label :state, 'State'
            =f.text_field :state
          .params
            =f.label :zip_code, 'Zip-code'
            =f.text_field :zip_code
          .params
            =f.label :country, 'Country'
            =f.text_field :country

        .right
          %br
          .params
            =f.label :account_num, 'Account Number'
            =f.text_field :account_num
          .params
            =f.label :phone, 'Ph: '
            =f.text_field :phone
          .params
            =f.label :fax, 'Fx: '
            =f.text_field :fax

        .controls
          =submit_tag "Cancel", class: " button bottom_button red", remote: true
          -permitted_to? :update, :vendors do
            =submit_tag "Save", class: "button bottom_button green"