
.purchase_account_numbers
  %dl
    %dt Account:
    %dd
      =hb 'if model.can_update' do

        .dropdown
          %a{ id: 'accountDropdown', role: 'button', 'data-toggle' => 'dropdown' }
            =hb 'view.accountNumberText'
            =fa_icon 'sort-asc'

          %ul.dropdown-menu.accounts_menu{ role: 'menu', 'aria-labelledby' => 'accountDropdown' }
            =hb 'each acct in view.accountsList' do
              %li
                %a{ _action: 'assignAccount acct target="view"' }
                  =hb 'acct.number'

            .btn-group.pull-right
              %button{ class: 'btn btn-link acccount_edit_cancel', _action: 'stopEditingAccounts target="view"', 'data-toggle' => 'tooltip', title: 'Cancel editing accounts' }
                Cancel

              =hb 'if model.can_update' do
                %button{ class: 'btn btn-link account_edit_add', 'data-toggle' => 'modal', 'data-target' => '#accountAdd' }
                  Add

        =hb 'else'
        =hb 'account.number'

=hb 'view App.AccountNewView'

.new_account_spinner
  =fa_icon 'spinner spin 2x'
