
.h4 Accounts

.accounts
  =hb 'view App.AccountsView'

.totals
  %dl
    %dt Sub-total
    %dd=hb 'currency subTotal'
  %dl.tax_rate
    %dt
      Tax at
      =hb 'if isEditingTaxRate' do
        =hb 'view App.TaxSelect'
        %button{ class: 'btn btn-link tax_rate_cancel', _action: 'stopEditingTaxRate', 'data-toggle' => 'tooltip', title: 'Stop editing Tax Rate' }
          Cancel
        =hb 'else'
        %button{ class: 'btn btn-link tax_rate', _action: 'startEditingTaxRate', 'data-toggle' => 'tooltip', title: 'Click to change Tax Rate' }
          =hb 'taxRateDisplay'
    %dd=hb 'currency tax'
  %dl
    %dt Labor
    %dd=hb 'view App.PriceInput value=labor'
  %dl
    %dt Shipping
    %dd=hb 'view App.PriceInput value=shipping'
  %dl.total
    %dt Grand Total
    %dd=hb 'currency grandTotal'
