
=hb 'input class="input-small" name="start" class="form-control" valueBinding="view.min-value"'
%span.add-on to
=hb 'input class="input-small" name="end" class="form-control" valueBinding="view.max-value"'

=hb 'view App.DateRangeShortcutSelect'
