
%script{ type: 'text/x-handlebars', 'data-template-name' => 'notificationContainer' }
  %div{ bind: { class: 'notificationType' }, 'data-toggle' => 'tooltip', title: 'Click to close' }
    =hb 'view.notification'
    #close_obj{ hb: 'action "close" target="view"' }
      X
