
=hb 'each controllers.application.notifications' do
  %div{ hb: 'action "closeNotice" target="view"', bind: { class: ':alert :alert-dismissable className' } }
    %button.close{ type: 'button' }
      =fa_icon 'times'
    =hb 'message'
