
%div
  =hb 'each notifications' do
    %span.notificationCell{ hb: 'action "closeNotice" target="view"' }
      %span{ bind: { class: 'type' } }
        %span
          =hb 'message'
        %span.close_obj
          X
