
.col-lg-12.notificationContainer
  =hb 'each controllers.application.notifications' do
    %div{ _action: 'closeNotice target="view"', bind: { class: ':alert :alert-dismissable className' } }
      .pull-right.close
        =fa_icon 'times'
      =hb 'message'
