
%button{ class: 'btn btn-link', _action: 'cancelEdit', 'data-toggle' => 'tooltip', title: 'Cancel editing requisition' }
  =fa_icon 'rotate-left'
  Go back

=hb 'if model.can_update' do
  =hb 'unless dateCancelled' do
    %button{ class: 'btn btn-default btn-lg edit_requisition', _action: 'openRecordEdit', 'data-toggle' => 'tooltip', title: 'Edit Record' }
      Edit Record
