
.h4 Notes

%table.table
  %thead
    %tr
      %th Note
      %th{ colspan: 2 } Created
      %th Updated
      %th Last User

  %tbody
    =hb 'each note in controller' do
      =hb 'view App.NoteShowView'

      =hb 'else'

      %tr
        %td{ colspan: 5 }
          .text-center No Notes

