
.col-lg-3.col-sm-5.col-xs-12
  .h4.hidden-lg
    Dates

  %dl{ bind: { class: 'dateRequested::has-error' } }
    %dt Date Requested
    %dd=hb 'view App.DatePickerView value=dateRequested'
  %dl
    %dt Date Approved
    %dd=hb 'view App.DatePickerView value=dateApproved'
  %dl
    %dt Date Purchased
    %dd=hb 'view App.DatePickerView value=datePurchased'
  %dl
    %dt Date Posted
    %dd=hb 'view App.DatePickerView value=datePosted'
  %dl
    %dt Date Reconciled
    %dd=hb 'view App.DatePickerView value=dateReconciled'

.col-lg-6.col-sm-7.col-xs-12
  .h4.hidden-lg
    Vendor / Shipping

  .row.vendor_row
    %dl
      %dt="Vendor (#{hb 'vendors.length'})"
      %dd.vendor_token_input
        =hb 'view App.VendorTokenInput id="vendor_tokens"'


  .row
    .col-lg-6.col-xs-12.pull-left
      %dl
        %dt Delivery
        %dd=hb 'view App.DatePickerView value=dateExpected'
    .col-lg-6.col-xs-12.pull-right
      %dl
        %dt Courier
        %dd=hb 'view App.CourierSelect value=courier'

  .row.vendor_row
    %dl.tracking-num
      %dt Tracking
      %dd=hb 'input value=trackingNum class="form-control"'

  .row
    .col-xs-12.col-sm-8
      %dl
        %dt Order Number
        %dd=hb 'input value=order_number class="form-control"'

    .col-xs-12.col-sm-4.text-center
      %button{ type: 'button', bind: { class: ':btn :btn-success :btn-lg isOrdered:active' }, _action: 'toggleOrdered', 'data-toggle' => 'tooltip', title: 'Flag requisition as ordered' }
        =fa_icon 'truck'
        Ordered!


.col-lg-3.col-xs-12
  .h4.hidden-lg
    Requester/Recipient

  =hb 'partial "purchase/top/people_tabs_edit"'
