
.col-lg-3.col-sm-5.col-xs-12
  .h4.hidden-lg
    Dates

  %dl
    %dt Date Requested
    %dd.strong=hb 'dateRequested'
  %dl
    %dt Date Approved
    %dd.strong=hb 'dateApproved'
  %dl
    %dt Date Purchased
    %dd.strong=hb 'datePurchased'
  %dl
    %dt Date Posted
    %dd.strong=hb 'datePosted'
  %dl
    %dt Date Reconciled
    %dd.strong=hb 'dateReconciled'

.col-lg-6.col-sm-7.col-xs-12
  .h4.hidden-lg
    Vendor / Shipping

  .row
    .vendor_row
      ="Vendor (#{hb 'vendors.length'})"
      .vendor_show_string
        =hb 'if App.current_user.is_buyer' do

          =hb 'each vendor in vendors' do
            %button.btn.btn-link.btn-lg{ _action: 'vendorClick vendor' }
              %strong
                =hb 'vendor.name'

          =hb 'else'

          =hb 'vendor_string'

  .row
    .col-lg-6.col-xs-12.pull-left
      %dl
        %dt Date Required
        %dd.strong=hb 'dateRequired'
      %dl
        %dt Expected Delivery
        %dd.strong=hb 'dateExpected'
    .col-lg-6.col-xs-12.pull-right
      %dl
        %dt Order Number
        %dd.strong=hb 'order_number'
      %dl
        %dt Courier
        %dd.strong=hb 'courier'

  .row
    .col-xs-12
      %dl
        %dt Tracking
        %dd.strong.tracking-num=hb 'trackingNum'


.col-lg-3.col-xs-12
  .h4.hidden-lg
    Requester/Recipient

  =hb 'partial "purchase/top/people_tabs_show"'
