@import "colors";

@page {size: landscape}

dl {
  margin: 0;
  dt {
    margin: 0;
    font-weight: normal;
    font-style: italic;
    color: $md_dk_grey;
    font-size: 95%;
  }
}

.purchase_print_layout {
  font-size: 115%;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 1281px;
  height: 960px;

  header {
    display: block;
    height: 235px;
    width: 100%;

    .purchase_information {
      height: 140px;
      max-height: 140px;
      background-color: $lt_grey;
    }
  }

  .middle-fields {
    height: 440px;
    overflow: hidden;
  }

  .footer {
    background: $lt_grey;

    .tag {
      display: inline-block;
      font-weight: bold;
      border: 1px solid $md_dk_grey;
      border-radius: 5px;
    }
    .note {
      display: inline-block;
    }


    .accounts {

      dl {
        border-bottom: 1px solid $md_dk_grey;
        padding: 5px 0;
        dd { text-align: right; }
      }
    }
  }

  .link {
    text-decoration: underline;
    color: blue;
  }
}

.page {
  page-break-after: always;
  page-break-inside: avoid;
  display: block;
  width: 100%;
  height: 100%;
}
