@import "colors";

@page {size: landscape}

body { padding: 0; margin: 0; }
html { padding: 0; margin: 0; }

.purchase_print_layout {
  font-size: 115%;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 1281px;
  height: 960px;

  header {
    display: block;
    height: 270px;
    width: 100%;


    .top_bar {
      height: 90px;

      .title {

        img {
          width: 70px;
          height: 70px;
        }

        display: inline-block;

        span {
          display: inline-block;
          padding-top: 10px;
          font-size: 200%;
          font-weight: bold;
        }
      }
      .buyer {
        width: 250px;
      }
      .id {
        width: 250px;
        background-color: $lt-grey;
        font-size: 150%;
      }
    }

    .purchase_information {
      height: 140px;
      max-height: 140px;
      width: 100%;
      background: $lt_grey;

      tr {

        td {
          border: 1px solid $md_dk_grey;
          padding: 10px;

          hr {
            border-color: $dk_grey;
            margin: 15px;
          }

          dl {
            display: block;

            dt {
              display: inline-block;
              font-style: italic;
            }
            dd {
              float: right;

            }
          }
        }

        .vendors {
          width: 50%;

          span {
            font-weight: bold;
          }
          .vendor {
            display: inline-block;
          }
        }
        .dates {
          width: 20%;
        }
        .contacts {
          width: 30%;
        }
      }
    }
  }

  .middle_fields {
    display: block;
    width: 100%;
    border-bottom: 4px solid $md_dk_grey;
    height: 480px;
    overflow: hidden;

    .header_fields {
      width: 100%;
      font-style: italic;
      border-bottom: 4px solid $md_dk_grey;
    }
    .field {
      display: inline-block;
      height: 100%;
    }

    .quantity {
      @extend .field;
      width: 50px;
    }
    .quantity {
      @extend .field;
      text-align: center;
    }
    .description {
      @extend .field;
      width: 600px;
    }
    .cost {
      @extend .field;
      background-color: $lt_grey;
      width: 130px;
      text-align: right;
    }
    .acct {
      @extend .field;
      width: 74px;
      text-align: center;
    }

    .line {
      width: 100%;

      td {
        border: 1px solid $md_dk_grey;
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;

      }
    }

    .header_fields {
      td {
        border: 1px solid transparent;
        background: none;
      }
    }
  }

  footer {
    display: block;
    height: 170px;
    width: 100%;
    background: $lt_grey;

    .notes_comments {
      display: inline-block;
      width: 60%;

      .tag {
        display: inline-block;
        font-weight: bold;
      }
      .note {
        display: inline-block;
      }
    }

    .account {
      float: right;
      width: 23%;
      height: 100%;

      dl {
        border-bottom: 1px solid $md_dk_grey;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        dt {
          display: inline-block;
          width: 49%;
          height: 100%;
        }

        dd {
          float: right;
          width: 49%;
          height: 100%;
          text-align: right;
        }
      }

      .total {
        font-weight: bold;
      }
    }
  }
  .page_numbers {
    text-align: right;
    color: $md_grey;
    padding-bottom: 21px;
    overflow: hidden;
  }

  .float_right {
    float: right;
  }
  .link {
    text-decoration: underline;
    color: blue;
  }
}

.page {
  page-break-after: always;
}
