
.h3.col-md-9.col-sm-8.col-xs-12
  =hb 'each tab in tabName' do
    .tab_header{ 'data-toggle' => 'tooltip', title: 'Click to open the tab this record belongs in' }
      =hb 'link-to "purchases.tabs" (query-params tab=tab)' do
        =hb 'tab'

  =hb 'partial "views/star_noaction"'

  %strong
    =hb 'unless id' do
      New
    Purchase Requisition
    =hb 'id'

  =hb 'if App.current_user.is_buyer' do
    =hb 'partial "purchase/header/claim_unclaim"'
    =hb 'else'
    =hb 'buyer.name'

=hb 'partial "purchase/header/document_controls"'
