.search_result{ id: purchase.id }
  .column
    %dl
      %dt Vendors
      %dd=purchase.vendors_list.join(', ')
    %dl
      %dt Tracking
      %dd=purchase.tracking_num
  .column
    %dl
      %dt Date Requested
      %dd=purchase.date_requested
    %dl
      %dt Date Ordered
      %dd=purchase.date_purchased
    %dl
      %dt Date Expected
      %dd=purchase.date_expected
  .column
    %dl
      %dt Requester
      %dd=purchase.requester.try(:name)
      %dd=purchase.requester.try(:department)
    %dl
      %dt Buyer
      %dd=purchase.buyer.try(:name)

  .line_items_list
    -purchase.line_items.each do |line|
      .line_item
        .description_field
          =line.description
        .unit_field
          =line.unit
        .quantity_field
          =line.quantity
        .price_field
          =line.price
