
.modal#emailModal{ role: 'dialog', 'area-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          =fa_icon 'times'
        %h4
          Send an Email

      .modal-body

        %form{ name: 'email', id: 'emailForm' }
          .row
            .col-xs-8

              .form-group
                %label To
                =hb 'input class="form-control" name="to" placeholder="To"'

              .form-group
                %label CC
                =hb 'input class="form-control" name="cc" placeholder="CC"'

              .form-group
                %label Subject
                =hb 'input class="form-control" name="subject" placeholder="Email Subject"'

            .col-xs-4

              .text-center
                %label Canned Messages

                .btn-group-vertical{ 'data-toggle' => 'buttons' }

                  =hb 'each msg in view.cannedMessages' do
                    .btn.btn-link
                      =hb 'view App.EmailCannedMessageView content=msg' do
                        .text-left=hb 'msg.name'


          .row
            .col-xs-12
              .form-group
                %label Body
                =hb 'textarea class="form-control email-body" name="body" placeholder="Email Body" rows="7"'

          .row
            .col-xs-12
              %label Attachments
              .well
                =hb 'each view.attachments itemController="attachment"' do
                  =hb 'view App.AttachmentView showCategory=true'
          =hb 'input type="hidden" name="attachments_array" value=view.selectedAttachments'

      .modal-footer
        .text-right
          %button{ type: 'button', class: 'btn btn-link cancel_advanced_search', 'data-dismiss' => 'modal', 'aria-hidden' => 'true', 'data-toggle' => 'tooltip', title: 'Close this window' }
            Cancel

          %button{ type: 'button', _action: 'submitEmail target="view"', class: 'btn btn-lg btn-success', 'data-toggle' => 'tooltip', title: 'Send Email' }
            Send!
