%header
  .title
    .logo
      =image_tag 'biola.png'
    %span
      Biola Purchasing Department

  .navigation_dropdown
    .navigation_menu
      %i.icon-reorder.icon-2x
    .navigation_items
      =navigation_menu

%content
  =hb 'outlet'

%footer

#flash_parent
  =hb 'view App.NotificationView id="notificationBox" notificationsBinding="notifications"'
