
%div{ hb: 'action "closeNotice" target="view"' }
  =hb 'each notifications' do
    %span.notificationCell
      %span{ bind: { class: 'type' } }
        %span
          =hb 'message'
        %span.close_obj
          X

