.row
  .controls
    %span.icon-stack.star{ _action: 'starMe' }
      =hb 'if starred' do
        %i.icon-star.icon-large
        %i.icon-star-empty.icon-large
        =hb 'else'
        %i.icon-star-empty.icon-large
  .bar{ _action: 'openRecord' }
    .date_cell
      =hb 'dateString'
    .vendor_cell
      =hb 'vendorString'
    .requester_cell
      ="#{hb 'requester.first_name'} #{hb 'requester.last_name'}"
    .department_cell
      =hb 'requester.department'
    .buyer_cell#buyer
      ="#{hb 'buyer.first_name'} #{hb 'buyer.last_name'}"

  .tag_cells
    =hb 'each tags' do
      .small_tag
        =hb 'name'

  -permitted_to? :delete, :purchases do
    .delete.top_padded{ _action: 'deleteRecord'}
      x


