
.purchase_box
  .purchases_header
    =hb 'partial "purchases_header"'

  .purchases
    =hb '#each'
    =hb 'partial "purchases_line"'
    =hb '/each'

  .navigation_buttons
    .quick_search_form
      =form_tag search_purchases_path, id: 'quick_find', method: :get do
        =text_field_tag :lines, params[:lines], id: 'quick_find_text', placeholder: 'Search'
        =hidden_field_tag :search, params[:search], value: true
        %button{ 'type' => 'submit', 'class' => 'search_image_link' }
          %li.icon-search.icon-2x
      =link_to 'Advanced Search', search_purchases_path, class: 'advanced', remote: true

    -permitted_to? :create, :purchases do
      =link_to new_purchase_path, remote: true do
        .new_image_link#new
          %li.icon-plus.icon-2x
