
.row
  .controls
    =hb 'partial "star"'
  .bar{ _action: 'openRecord' }
    .date_cell
      =hb 'dateString'
    .vendor_cell
      =hb 'vendorString'
    .requester_cell
      =hb 'requester.name'
    .department_cell
      =hb 'requester.department'
    .buyer_cell#buyer
      =hb 'buyer.name'

  .tag_cells
    =hb 'each tags' do
      .small_tag
        =hb 'name'

  -permitted_to? :delete, :purchases do
    .delete.top_padded{ _action: 'deleteRecord'}
      =fa_icon 'times'


