.receiving_rec
  .receiving_created
    =hb 'receiving.receivingDocDate'
  .receiving_total
    =hb 'receiving.total'
  .receiving_package
    =hb 'receiving.package_num'
  .receiving_package_date
    =hb 'receiving.package_date'
  -permitted_to? :delete, :receivings do
    .delete
      =fa_icon 'times'

