.navigation_buttons
  -permitted_to? :create, :vendors do
    -#=link_to new_vendor_path, remote: true do
    .new_image_link#new
      =fa_icon 'plus 2x'


.vendor_box
  %h2
    Vendors
  .search_bar
    %span.searching_bar.hidden
      Searching...
    =hb 'view App.VendorSearchBox'
    =hb 'view App.PaginatorView'

  .filter_bar
    =hb 'each getAllLetters' do
      =hb "view App.LetterPaginatorView contentBinding='this'"


  .vendor_list
    =hb 'each' do
      =hb 'partial "vendor"'


  #flash_parent
    =hb 'view App.NotificationView'
