.receiving_line.hidden{ id: f.object.id }
  =f.hidden_field :id, class: "id"
  =f.hidden_field :line_item_id, class: "line_id"
  =f.hidden_field :quantity, class: "quantity"
  =f.hidden_field :last_user, class: "last_user"
  =f.hidden_field :updated_at, class: "updated"
  =f.hidden_field :created_at, class: "created"