!!!
%html
  %head
    %title
      Purchasing
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    =csrf_meta_tags
    =stylesheet_link_tag 'application', debug: false, media: "all"
    =javascript_include_tag 'application', debug: false

  %body

-if current_user != true_user
  .impersonating
    ="#{true_user} is currently impersonating #{current_user}"
    %button{ class: 'btn btn-large btn-link' }
      =link_to('Stop Impersonating', 'api/1.0/users/stop_impersonating')

    %button{ type: 'button', class: 'btn btn-lg btn-default' }
      %a{ href: 'api/1.0/users/impersonate?user_role=buyer' } Impersonate a Buyer
    %button{ type: 'button', class: 'btn btn-lg btn-default' }
      %a{ href: 'api/1.0/users/impersonate?user_role=receiver' } Impersonate a Receiver
    %button{ type: 'button', class: 'btn btn-lg btn-default' }
      %a{ href: 'api/1.0/users/impersonate?user_role=employee' }  Impersonate a Employee

=render partial: 'ember/init'
