.purchase_account_numbers
  %dl
    %dt Account:
    %dd
      -if permitted_to? :update, :purchases

        .dropdown
          %a{ id: 'accountDropdown', role: 'button', 'data-toggle' => 'dropdown', 'data-target' => '#' }
            =hb 'view.accountNumberText'
            =fa_icon 'sort-asc'

          %ul.dropdown-menu.accounts_menu{ role: 'menu', 'aria-labelledby' => 'accountDropdown' }
            =hb 'each acct in view.accountsList' do
              %li
                %a{ href: '#', _action: 'assignAccount acct target="view"' }
                  =hb 'acct.number'

            .btn-group.pull-right
              %button{ class: 'btn btn-link acccount_edit_cancel', _action: 'stopEditingAccounts target="view"', 'data-toggle' => 'tooltip', title: 'Cancel editing accounts' }
                Cancel

              -permitted_to? :create, :accounts do
                %button{ class: 'btn btn-link account_edit_add', 'data-toggle' => 'modal', 'data-target' => '#accountAdd' }
                  Add

      -else
        =hb 'account.number'


.modal#accountAdd{ 'tabindex' => '-1', role: 'dialog', 'aria-labelledby' => 'accountAddModal', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          =fa_icon 'times'
        %h4
          Add Account

      .modal-body

        .form-group
          %label.control-label{ 'for' => '#fund' }
            Fund - must be 6 digits, usually is 101000
          =hb 'input id="fund" value="101000" placeholder="Fund" class="form-control new_fund_field" maxlength=6'

        .form-group
          %label.control-label{ 'for' => '#org' }
            Org - must be 6 digits
          =hb 'input id="org" placeholder="Org" class="form-control new_org_field" maxlength=6'

        .form-group
          %label.control-label{ 'for' => '#acct' }
            Acct - must be 5 digits
          =hb 'input id="acct" placeholder="Acct" class="form-control new_acct_field" maxlength=5'

      .modal-footer
        %button.btn.btn-default.accountAddClose{ type: 'button', 'data-dismiss' => 'modal' }
          Close
        %button.btn.btn-primary.accountAddSave{ type: 'button', _action: 'newAccountSave target="view"' }
          Save

.new_account_spinner
  =fa_icon 'spinner spin 2x'
