.purchase_account_numbers
  %dl
    %dt Account:
    %dd
      -if permitted_to? :update, :purchases
        =hb 'if isEditingAccounts' do
          =hb 'view App.AccountSelect'
          %button{ class: 'btn btn-link', _action: 'addNewAccount target="view"', title: 'Add a new account' }
            Add
          %button{ class: 'btn btn-link', _action: 'stopEditingAccounts target="view"', title: 'Cancel editing accounts' }
            Cancel

          =hb 'else'
          %button{ class: 'btn btn-link', _action: 'startEditingAccounts target="view"', title: 'Click to edit or add accounts' }
            =hb 'view.accountNumberText'
      -else
        =hb 'account.number'

-permitted_to? :create, :accounts do
  .new_account_fields.hidden
    =hb 'input id="fund" value="101000" placeholder="Fund" class="form-control" maxlength=6'
    =hb 'input id="org" placeholder="Org" class="form-control" maxlength=6'
    =hb 'input id="acct" placeholder="Acct" class="form-control" maxlength=5'

    %button{ class: 'btn btn-link', _action: 'newAccountSave target="view"', title: 'Click to save new account' }
      Save
    %button{ class: 'btn btn-link', _action: 'newAccountCancel target="view"', title: 'Click to cancel creating a new account' }
      Cancel

  .new_account_spinner
    =fa_icon 'spinner spin 2x'
