.purchase_account_numbers
  %dl
    %dt Account:
    %dd
      -if permitted_to? :update, :purchases
        =hb 'if isEditingAccounts' do
          =hb 'view App.AccountSelect'
          %span.clickable{ _action: 'addNewAccount target="view"' }
            Add
          %span.clickable{ _action: 'stopEditingAccounts target="view"' }
            Cancel

          =hb 'else'
          %span.clickable{ _action: 'startEditingAccounts target="view"' }
            =hb 'view.accountNumberText'
      -else
        =hb 'account.number'

-permitted_to? :create, :accounts do
  .new_account_fields.hidden
    =hb 'input id="fund" value="101000" placeholder="Fund" class="new_fund_field" maxlength=6'
    =hb 'input id="org" placeholder="Org" class="new_org_field" maxlength=6'
    =hb 'input id="acct" placeholder="Acct" class="new_acct_field" maxlength=5'

    %span.clickable{ _action: 'newAccountSave target="view"' }
      Save
    %span.clickable{ _action: 'newAccountCancel target="view"' }
      Cancel
  .new_account_spinner
    =fa_icon 'spinner spin 2x'
