
%h2
  Attachments

.content
  =hb 'this.content.length'
  =hb 'each' do
    .attached_item
      .file_name
        =hb 'attachment_file_name'
      .file_type
        =hb 'attachment_content_type'
      .file_size
        =hb 'attachment_file_size'
      -permitted_to? :delete, :attachments do
        .delete{ _action: 'deleteAttachment' }
          X
