
=hb 'if id' do
  -if permitted_to? :delete, :purchases

    =hb 'if canShowDeleteButton' do
      %button{ type: 'button', class: 'btn btn-danger btn-lg delete_req', _action: 'deleteRecord', 'data-toggle' => 'tooltip', title: 'Delete record' }
        =fa_icon 'trash-o'
        Delete Record

  =hb 'if isEditing' do

    =hb 'if canShowCancelButton' do
      %button{ type: 'button', class: 'btn btn-default', _action: 'toggleCancelled', bind: { class: ':btn :btn-default isCancelled:active' }, 'data-toggle' => 'tooltip', title: 'Cancel requisition' }
        =fa_icon 'eraser'
        Cancel Order

  .last_modified
    Last Modified:
    =hb 'largeDate updated_at'
    %br
    Last Modified by:
    =hb 'last_user'
