
=hb 'if id' do
  -if permitted_to? :delete, :purchases
    %button{ type: 'button', class: 'btn btn-danger btn-lg', _action: 'deleteRecord', title: 'Delete record' }
      =fa_icon 'trash-o'
      Delete Record

  =hb 'if isEditing' do
    %button{ type: 'button', class: 'btn btn-default', _action: 'toggleCancelled', bind: { class: ':btn :btn-default isCancelled:active' }, title: 'Cancel requisition' }
      =fa_icon 'eraser'
      Cancel Order

  .last_modified
    Last Modified:
    =hb 'largeDate updated_at'
    %br
    Last Modified by:
    =hb 'last_user'
