
%div{ bind: { class: ':title_bar :row isCancelled:strikethrough' } }
  =hb 'partial "purchase/header_edit"'

%div{ bind: { class: ':top_info :row isEditing::top_info_showing' } }
  =hb 'partial "purchase/top_edit"'

.middle_info.row
  =hb 'if id' do

    %div{ bind: { class: 'isReceiving:col-lg-7:col-lg-8' } }
      =hb 'render "LineItemsEdit" lineItems controller="LineItems"'
    %dib{ bind: { class: 'isReceiving:col-lg-5:col-lg-4' } }
      =hb 'render "Receivings" receivings'

    =hb 'else'

    .col-lg-12
      =hb 'render "LineItemsShow" lineItems controller="LineItems"'


.bottom_info
  .row
    .col-lg-8.notes
      -if permitted_to? :read, :notes
        =hb 'render "NotesEdit" notes controller="Notes"'

      -if permitted_to? :read, :tags
        =hb 'render "Tags" tags'

    .col-lg-4
      =hb 'partial "purchase/accounting_edit"'

  .row
    .col-lg-8
      =hb 'partial "purchase/bottom_left_controls"'

    .col-lg-4.text-right
      =hb 'partial "purchase/submit_controls"'

