
%div{ bind: { class: ':title_bar :row isCancelled:strikethrough isReconciled isCancelled' } }
  =hb 'partial "purchase/header/edit"'

%div{ bind: { class: ':top_info :row isEditing::top_info_showing' } }
  =hb 'partial "purchase/top/edit"'

.middle_info.row
  =hb 'if id' do

    %div{ bind: { class: 'lineItemsClass' } }
      =hb 'render "LineItemsEdit" lineItems controller="LineItems"'
    %dib{ bind: { class: 'receivingsClass' } }
      =hb 'render "Receivings" receivings'

    =hb 'else'

    .col-xs-12
      =hb 'render "LineItemsEdit" lineItems controller="LineItems"'


.bottom_info
  .row
    .col-lg-8.col-xs-12
      =hb 'render "NotesEdit" notes controller="Notes"'

      =hb 'render "Tags" tags'

    .col-lg-4.col-xs-12.accounting
      =hb 'partial "purchase/accounts/edit"'

  .row
    .h4.hidden-lg

    .col-sm-8.col-xs-12
      =hb 'partial "purchase/bottom/left"'

    .col-sm-4.col-xs-12.text-right
      =hb 'partial "purchase/bottom/right_edit"'

