.edit_box
  %h2
    .box_title
      =hb 'partial "views/star"'
      =hb 'if id' do
        Edit record
        =hb 'id'
        =hb 'else'
        New Record
      =hb 'buyer.name'
    .edit_bar_controls
      -permitted_to? :delete, :purchases do
        .big_delete_button.red{ _action: 'deleteRecord'}
          Delete Record
      .attachments
        =fa_icon 'paperclip lg'
        Attachments
        =hb 'attachmentCount'

  .edit_box_content
    .top_info
      .vendor
        .param
          %label Vendor
          =hb 'view App.VendorTokenInput id="vendor_tokens" controller="purchase"'
        .param
          %label Tracking
          =hb 'input value=trackingNum class="lg_input"'
        .param
          %label Date Expected
          =hb 'view App.DateInput value=dateExpected'

      .request
        .param
          %label Date Requested
          =hb 'view App.DateInput value=dateRequested'
        .param
          %label Date Approved
          =hb 'view App.DateInput value=dateApproved'
        .param
          %label Date Purchased
          =hb 'view App.DateInput value=datePurchased'
        .param
          %label Date Required
          =hb 'view App.DateInput value=dateRequired'

      .requester
        .param
          %label Requester
          =hb 'view App.RequesterTokenInput id="purchase_requester_tokens" controller="purchase"'
        .param
          %label Department
          .fixed_field
            =hb 'requester.department'
        .param
          %label Phone
          .fixed_field
            =hb 'requester.phone'
        .param
          %label Recipient
          =hb 'view App.RecipientTokenInput id="purchase_recipient_tokens" controller="purchase"'

    .middle_info
      -permitted_to? :read, :line_items do
        .line_items_container
          =hb 'render "purchase/line_items" lineItems'

      -permitted_to? :read, :receivings do
        .receiving_container
          =hb 'receivingsCount'
          =hb 'render "purchase/receivings" receivings'

    .bottom_info
      -permitted_to? :read, :notes do
        .note_container
          .edit_title
            Notes
          .note_header
            .note_field.field_header
              Note
            .note_date.note_big_gap.field_header
              Created
            .note_date.field_header
              Updated
            .note_date.field_header
              Last User
          .notes
            -#=f.fields_for :notes do |note|
            -#  =render 'note_fields', f: note
          -#-permitted_to? :create, :notes do
          -#  .hidden.new_note{ 'data-new' => "#{render_new_line 'note_fields', f, :notes}" }

      .account_container
        .edit_title
          Accounts
        -#.account{ 'data-user' => f.object.requester.try(:id), 'data-default' => f.object.account_id }
        -#  -if f.object.requester
        -#    =f.select :account_id, options_for_select(f.object.requester.account_list + ["New Account"], selected: f.object.account_id)
        -#    -permitted_to? :create, :accounts do
        -#      .new_account_fields.hidden
        -#        =text_field_tag :fund, '101000', placeholder: 'Fund', class: 'new_fund_field'
        -#        =text_field_tag :org, nil, placeholder: 'Org', class: 'new_org_field'
        -#        =text_field_tag :acct, nil, placeholder: 'Acct', class: 'new_acct_field'
        -#        =link_to "Save", "#", id: 'new_account_save'
        -#        =link_to "Cancel", "#", id: 'new_account_cancel'
        -#      .new_account_loading.hidden
        -#        Saving...
        .totals
          %dl
            %dt Sub-total
            %dd=hb 'currency subTotal'
          %dl
            %dt="Tax at #{hb 'percent tax_rate'}"
            %dd=hb 'currency tax'
          %dl
            %dt Labor
            %dd=hb 'view App.PriceInput value=labor'
          %dl
            %dt Shipping
            %dd=hb 'view App.PriceInput value=shipping'
          %dl.total
            %dt Grand Total
            %dd=hb 'currency grandTotal'

      .bottom_left
        .tags_container
          .tags_header
            Tags
          .tags
            -#=f.fields_for :purchase_to_tags do |tag|
            -#  =render 'tag_fields', f: tag
          -#-permitted_to? :update, :purchases do
          -#  .add_tag_list
          -#    =select 'purchase', 'tags', options_for_select(@tags), {include_blank: "Add a Tag:"}
          -#  .hidden.new_tag{ 'data-new' => "#{render_new_line 'tag_fields', f, :purchase_to_tags}" }

      .bottom_right
        .button.buttom_button.red{ _action: 'cancelEdit' }
          Cancel
        -permitted_to? :update, :purchases do
          .button.buttom_button.green{ _action: 'saveRecord' }
            Submit

  #flash_parent
    =hb 'view App.NotificationView'
