
=hb 'view App.NotificationView'

%div{ bind: { class: ':edit_box isCancelled isReconciled' } }
  =hb 'if isEditing' do
    =hb 'partial "purchase/edit"'
    =hb 'else'
    =hb 'partial "purchase/show"'
  
  .bottom_info.row
    .col-lg-8.notes
      -if permitted_to? :read, :notes
        =hb 'render "Notes" notes'

      -if permitted_to? :read, :tags
        =hb 'render "Tags" tags'

    .col-lg-4
      =hb 'partial "purchase/accounting"'

    .row
      .col-lg-8
        =hb 'partial "purchase/bottom_left_controls"'

      .col-lg-4.text-right
        =hb 'partial "purchase/submit_controls"'

  =hb 'render attachments this.attachments'

  .main_spinner
    =fa_icon 'spinner spin'

