
=hb 'view App.NotificationView'

.edit_box
  =hb 'if isEditing' do
    =hb 'partial "purchase/edit"'
    =hb 'else'
    =hb 'partial "purchase/show"'

  =hb 'if App.current_user.is_buyer_or_receiver' do
    =hb 'render "attachments" this.attachments'
  =hb 'if App.current_user.is_buyer' do
    =hb 'view App.EmailView'
