
=hb 'view App.NotificationView'

%div{ bind: { class: ':edit_box isCancelled isReconciled' } }
  =hb 'if isEditing' do
    =hb 'partial "purchase/edit"'
    =hb 'else'
    =hb 'partial "purchase/show"'

  =hb 'render "attachments" this.attachments'

  .main_spinner
    =fa_icon 'spinner spin'

