
.h3.col-md-9.col-sm-8.col-xs-12
  =hb 'each tab in tabName' do
    .tab_header{ 'data-toggle' => 'tooltip', title: 'Click to open the tab this record belongs in' }
      =hb 'link-to "purchases.tabs" (query-params tab=tab)' do
        =hb 'tab'

  =hb 'partial "views/star_noaction"'

  =hb 'if id' do
    Record
    =hb 'id'
    =hb 'else'
    New Record

  -if current_user.buyer? || current_user.developer?
    =hb 'partial "purchase/claim_unclaim"'
  -else
    =hb 'buyer.name'

=hb 'if id' do
  .col-md-3.col-sm-4.col-xs-12.text-center
    %ul.nav.navbar-nav.edit_buttons.text-center
      %li.open_attachments{ _action: 'openAttachments', 'data-toggle' => 'tooltip', title: 'Open Attachments' }
        %a
          =fa_icon 'thumb-tack lg'
          =hb 'attachmentCount'

      %li.save_req{ _action: 'saveRequisition', 'data-toggle' => 'tooltip', title: 'Save PDF' }
        %a
          =fa_icon 'download lg'

      %li.email_req{ _action: 'emailRequisition', 'data-toggle' => 'tooltip', title: 'Email Purchase Requisition' }
        %a
          =fa_icon 'envelope lg'

      %li.print_req{ _action: 'printRequisition', 'data-toggle' => 'tooltip', title: 'Print Purcahse Requisition' }
        %a
          =fa_icon 'print lg'
