
.col-lg-8.h3
  =hb 'partial "views/star"'

  =hb 'if id' do
    Edit record
    =hb 'id'
    =hb 'else'
    New Record

  -if current_user.buyer? || current_user.developer?
    =hb 'partial "purchase/claim_unclaim"'
  -else
    =hb 'buyer.name'

=hb 'if id' do
  .col-lg-4
    %ul.nav.navbar-nav.pull-right.edit_buttons
      %li.open_attachments{ _action: 'openAttachments', 'data-toggle' => 'tooltip', title: 'Open Attachments' }
        %a.hover_red{ href: '#' }
          =fa_icon 'thumb-tack lg'
          =hb 'attachmentCount'

      %li.save_req{ _action: 'saveRequisition', 'data-toggle' => 'tooltip', title: 'Save PDF' }
        %a{ href: '#' }
          =fa_icon 'download lg'

      %li.email_req{ _action: 'emailRequisition', 'data-toggle' => 'tooltip', title: 'Email Purchase Requisition' }
        %a{ href: '#' }
          =fa_icon 'envelope lg'

      %li.print_req{ _action: 'printRequisition', 'data-toggle' => 'tooltip', title: 'Print Purcahse Requisition' }
        %a.hover_yellow{ href: '#' }
          =fa_icon 'print lg'
