
%span{ bind: { class: ':edit_box isCancelled isReconciled' } }
  %h2{ hb: 'bind-attr class="allReceived"'}
    %span{ bind: { class: ':box_title isCancelled:strikethrough' } }

      -if permitted_to? :update, :purchases
        =hb 'partial "views/star"'

      -else
        =hb 'partial "views/star_noaction"'

      =hb 'if id' do
        Edit record
        =hb 'id'
        =hb 'else'
        New Record

      =hb 'if buyer.name' do
        =hb 'buyer.name'

        -if permitted_to? :update, :purchases
          =hb 'else'

          .button.green_back{ _action: 'claimPurchase' }
            Claim

    .edit_bar_controls
      .edit_button.hover_red{ _action: 'openAttachments', title: 'Open Attachments' }
        =fa_icon 'thumb-tack lg'
        =hb 'attachmentCount'

      .edit_button.hover_blue{ _action: 'saveRequisition', title: 'Save PDF' }
        =fa_icon 'file-text lg'
      .edit_button.hover_blue{ _action: 'emailRequisition', title: 'Email Purchase Requisition' }
        =fa_icon 'envelope lg'
      .edit_button.hover_yellow{ _action: 'printRequisition', title: 'Print Purcahse Requisition' }
        =fa_icon 'print lg'

  .edit_box_content
    .top_info
      -if permitted_to? :update, :purchases
        =hb 'partial "purchase/top_edit"'
      -else
        =hb 'partial "purchase/top_view"'

    .middle_info
      -if permitted_to? :read, :line_items
        .line_items_container
          =hb 'render "LineItems" lineItems'

      -if permitted_to? :read, :receivings
        .receiving_container
          =hb 'render "Receivings" receivings'

    .bottom_info
      .notes_tags
        -if permitted_to? :read, :notes
          =hb 'render "Notes" notes'

        -if permitted_to? :read, :tags
          =hb 'render "Tags" tags'


      .account_container
        .edit_title
          Accounts
        .account
          =hb 'view App.AccountsView'

        .totals
          %dl
            %dt Sub-total
            %dd=hb 'currency subTotal'
          %dl
            %dt
              Tax at
              =hb 'if isEditingTaxRate' do
                =hb 'view App.TaxSelect'
                %span.clickable{ _action: 'stopEditingTaxRate', title: 'Stop editing Tax Rate' }
                  Cancel
                =hb 'else'
                %span.clickable{ _action: 'startEditingTaxRate', title: 'Click to change Tax Rate' }
                  =hb 'tax_rate'
            %dd=hb 'currency tax'
          %dl
            %dt Labor
            %dd=hb 'view App.PriceInput value=labor'
          %dl
            %dt Shipping
            %dd=hb 'view App.PriceInput value=shipping'
          %dl.total
            %dt Grand Total
            %dd=hb 'currency grandTotal'

      .bottom_left

        -if permitted_to? :delete, :purchases
          .big_delete_button.red{ _action: 'deleteRecord', title: 'Delete requisition' }
            =fa_icon 'trash-o'
            Delete Record

        %span{ _action: 'toggleCancelled', bind: { class: ':button :grey isCancelled:button_down' }, title: 'Cancel requisition' }
          Cancel Order

        .last_modified
          Last Modified:
          =hb 'largeDate updated_at'
          %br
          Last Modified by:
          =hb 'last_user'
      .bottom_right
        .button.bottom_button.red{ _action: 'cancelEdit', title: 'Cancel editing requisition' }
          =fa_icon 'rotate-left'
          Cancel
        -if permitted_to? :update, :purchases
          .button.bottom_button.green{ _action: 'saveRecord', title: 'Save changes to requisition' }
            =fa_icon 'save'
            Save

  =hb 'render attachments this.attachments'

  #flash_parent
    =hb 'view App.NotificationView'

  .main_spinner
    =fa_icon 'spinner spin'

