
.h4 Line Items


.line_items_wrapper
  .line_items_scrollable
    %table.table
      %thead
        =hb 'partial "purchase/line_items_header"'

      %tbody
        =hb 'each line in controller' do
          =hb 'render "LineItemShow" line controller="LineItem"'

