
%td.line_number=hb 'lineNumber'
%td.description=hb 'description'
%td.unit=hb 'unit'
%td.quantity=hb 'quantity'
%td{ bind: { class: ':received_count overQuantity' },  title: 'Total number of item(s) received.<br />Green = Complete<br />Yellow = Partial<br />Red = More received than ordered' }
  =hb 'receivedCount'

=hb 'if parentController.isReceiving' do
  %td.is_receiving_container
    -if permitted_to? :receive, :receivings
      =hb 'view App.ReceivingArrowView direction=-1'
      %span=hb 'curReceivedCount'
      =hb 'view App.ReceivingArrowView direction=1'

  =hb 'else'

  %td.received_count
    =hb 'if isHovering' do
      =hb 'curReceivedHoverCount'

  %td.price=hb 'currency price'

%td.price=hb 'currency extendedCost'
