%div{ bind: { class: ':line_item isHighlighted'}}
  .line_number
  =hb 'input value=description class="description_field"'
  =hb 'input value=unit class="unit_field"'
  =hb 'input value=quantity class="quantity_field"'
  .receiving_left.hidden
  %div{ bind: { class: 'isHighlighted:hidden:received_count' } }
    =hb 'twoCountsField'
  %div{ bind: { class: 'isHighlighted:received_count:hidden' } }
    =hb 'threeCountsField'
  .receiving_right.hidden
  =hb 'view App.PriceInput value=price class="price_field"'
  .extended_field
    =hb 'currency extendedCost'
  -permitted_to? :delete, :line_items do
    .delete{ _action: 'deleteMe target="view"' }
      =fa_icon 'times'
