
.h3
  Line Items

.line_items_wrapper
  .line_items_scrollable
    %table.table
      %thead
        %tr
          %th.text-left{ colspan: 2 } Description:
          %th.text-center Unit:
          %th.text-center Quantity:

          =hb 'if isNotReceiving' do

            %th.text-center{ colspan: 2 } Received:
            %th.text-center Price:
            %th.text-center Extended:

            =hb 'else'

            %th.text-center Received:
            %th.text-center Add/Remove
            %th.text-center Extended:

      %tbody
        =hb 'each line in controller' do
          =hb 'view App.LineItemView'
