
.edit_title
  Line Items
.line_items_header
  .description_field_header
    Description:
  .unit_field_header
    Unit:
  .quantity_field_header
    Quantity:
  .received_count_header
    Received:
  .price_field_header
    Price:
  .price_field_header
    Extended:
.line_items
  =hb 'each line in controller' do
    =hb 'view App.LineItemView'
