
.edit_title
  Line Items
.line_items
  %table
    %thead
      %tr
        %td{ colspan: 2 } Description:
        %td Unit:
        %td Quantity:

        =hb 'if isNotReceiving' do

          %td.center{ colspan: 2 } Received:
          %td.center Price:
          %td.center Extended:

          =hb 'else'

          %td.center Received:
          %td.center Add/Remove
          %td Extended:

    %tbody
      =hb 'each line in controller' do
        =hb 'view App.LineItemView'
