
%td.line_number=hb 'lineNumber'
%td.description=hb 'view App.DescriptionInputView value=description class="form-control"'
%td.unit=hb 'input value=unit class="form-control"'
%td.quantity=hb 'input value=quantity class="text-center form-control"'

%td{ bind: { class: ':received_count overQuantity' },  'data-toggle' => 'tooltip', title: 'Total number of item(s) received.<br />Green = Complete<br />Yellow = Partial<br />Red = More received than ordered' }
  =hb 'receivedCount'

=hb 'if parentController.isReceiving' do
  %td.is_receiving_container
    =hb 'view App.ReceivingArrowView direction=-1'
    %span=hb 'curReceivedCount'
    =hb 'view App.ReceivingArrowView direction=1'

  =hb 'else'

  %td.received_count
    =hb 'if isHovering' do
      =hb 'curReceivedHoverCount'

  %td.price=hb 'view App.PriceInput value=price class="right form-control"'

%td.price=hb 'currency extendedCost'

%td.delete_container
  -if permitted_to? :delete, :line_items
    .delete{ _action: 'deleteMe target="view"', 'data-toggle' => 'tooltip', title: 'Delete line item' }
      =fa_icon 'times'
