.note
  -#=f.text_field :note, class: 'note_field'
  .delete
    X
  .note_date.note_gap
  -#=format_date f.object.created_at
  .note_date
  -#=format_date f.object.updated_at
  .note_date
  -#=f.object.last_user
