
.note
  =hb 'input value=note class=note_field'
  .delete{ _action: 'deleteMe target="view"' }
    =fa_icon 'times'
  .note_date.note_gap
    =hb 'created_at'
  .note_date
    =hb 'updated_at'
  .note_date
    =hb 'last_user'
