%ul.nav.nav-tabs
  %li.active
    %a{ href: '#requester', title: 'Click to view the requester', 'data-toggle' => 'tab' }
      Requester
  %li
    %a{ href: '#recipient', title: 'Click to view the recipient', 'data-toggle' => 'tab' }
      Recipient

.tab-content.people_tabs
  .tab-pane.active#requester
    %dl
      %dt Requester
      %dd=hb 'requester.name'
    %dl
      %dt Department
      %dd=hb 'requester.department'
    %dl
      %dt Phone
      %dd=hb 'requester.phone'
    %dl
      %dt Email
      %dd=hb 'requester.email'

  .tab-pane#recipient
    %dl
      %dt Recipient
      %dd=hb 'recipient.name'
    %dl
      %dt Department
      %dd=hb 'recipient.department'
    %dl
      %dt Phone
      %dd=hb 'recipient.phone'
    %dl
      %dt Email
      %dd=hb 'recipient.email'
