.receiving_rec
  .receiving_created
    =hb 'receivingDocDate'
  .receiving_total
    =hb 'total'
  .receiving_package
    =hb 'package_num'
  .receiving_package_date
    =hb 'package_date'
  -permitted_to? :delete, :receivings do
    .delete{ _action: 'deleteMe target="view"' }
      =fa_icon 'times'
