
=hb 'if parentController.purchase.isEditing' do
  %td=hb 'input value=package_num class="form-control"'
  %td=hb 'view App.DateInput value=package_date'
  %td=hb 'largeDate created_at'
  %td=hb 'totalCount'
  %td=hb 'priceTotal'

  -if permitted_to? :delete, :receivings
    %td.delete_container
      .delete{ _action: 'deleteRecord', title: 'Delete receiving document' }
        =fa_icon 'times'

  =hb 'else'

  %td=hb 'package_num'
  %td=hb 'smallDate package_date'
  %td=hb 'largeDate created_at'
  %td=hb 'total'
  %td=hb 'priceTotal'
