
.h4 Receiving

.receivings_wrapper
  .receivings_scrollable
    %table.table
      %thead
        %tr
          %th ID:
          %th Package Date:
          %th Date:
          %th Count:
          %th Amount:

      %tbody
        =hb 'each receiving in controller' do
          =hb 'view App.ReceivingView'

.row
  =hb 'if isAllReceived' do
    .text-center
      %strong
        All items received

  -if permitted_to? :receive, :receivings
    =hb 'if isReceiving' do
      %button{ type: 'button', class: 'btn btn-link', _action: 'cancelReceiving', 'data-toggle' => 'tooltip', title: 'Cancel editing this receiving document' }
        =fa_icon 'rotate-left'
        Cancel
      =hb 'if isDirty' do
        %button{ type: 'button', class: 'btn btn-success', _action: 'saveRecord', 'data-toggle' => 'tooltip', title: 'Save changes to this receiving document' }
          =fa_icon 'save'
          Save

      =hb 'else'

      %button{ type: 'button', class: 'btn btn-success', _action: 'newReceiving', 'data-toggle' => 'tooltip', title: 'Insert a new receiving document' }
        =fa_icon 'plus'
        New

      =hb 'if isNotAllReceived' do
        %button{ type: 'button', class: 'btn btn-primary', _action: 'receiveAll', 'data-toggle' => 'tooltip', title: 'Receive all remaining items on this requisition' }
          =fa_icon 'check'
          All!

.receiving_spinner
  =fa_icon 'spinner spin 3x'
