-if permitted_to? :update, :receivings
  .receiving_rec{ _action: 'receivingClick' }
    .receiving_created=hb 'largeDate created_at'
    .receiving_total=hb 'total'
    .receiving_package=hb 'package_num'
    .receiving_package_date=hb 'smallDate package_date'
    -if permitted_to? :delete, :receivings
      .delete{ _action: 'deleteMe target="view"' }
        =fa_icon 'times'

-else
  .receiving_rec
    .receiving_created=hb 'largeDate created_at'
    .receiving_total=hb 'total'
    .receiving_package=hb 'package_num'
    .receiving_package_date=hb 'smallDate package_date'
