
.edit_title
  Receiving
  =hb 'smallDate dateReceived'
.receiving_header
  .receiving_package_field_header
    ID
  .receiving_package_date_field_header
    Package Date
  .receiving_created_field_header
    Date
  .receiving_total_field_header
    Count
.receiving_docs
  =hb 'each receiving in controller' do
    =hb 'view App.ReceivingView'

-if permitted_to? :receive, :receivings
  .button.green{ _action: 'newReceiving' }
    =fa_icon 'plus'
    New
  =hb 'if allReceived' do
    .all_received
      All items received
    =hb 'else'
    .button.blue{ _action: 'receiveAll' }
      =fa_icon 'check'
      All!
  =hb 'if isReceiving' do
    .button.red{ _action: 'cancelReceiving' }
      =fa_icon 'rotate-left'
      Cancel
