=hb 'each tag in controller' do
  =hb 'view App.TagView'

-permitted_to? :update, :purchases do
  .add_tag_list
    =hb 'view Ember.Select prompt="Add a Tag"'
-#    =select 'purchase', 'tags', options_for_select(@tags), {include_blank: "Add a Tag:"}
-#  .hidden.new_tag{ 'data-new' => "#{render_new_line 'tag_fields', f, :purchase_to_tags}" }
