
.h4 Tags

.tags
  =hb 'each tag in controller' do
    =hb 'view App.TagView'

  =hb 'if parentController.purchase.isEditing' do
    .form-control{ title: 'Add a tag' }
      =hb 'view App.TagSelect content=tagsList'
