

.dates
  .param
    %label Date Requested
    =hb 'view App.DateInput value=dateRequested'
  .param
    %label Date Approved
    =hb 'view App.DateInput value=dateApproved'
  .param
    %label Date Purchased
    =hb 'view App.DateInput value=datePurchased'
  .param
    %label Date Posted
    =hb 'view App.DateInput value=datePosted'
  .param
    %label Date Reconciled
    =hb 'view App.DateInput value=dateReconciled'

.vendor
  .vendor_param
    %label="Vendor (#{hb 'vendorCount'})"
    =hb 'view App.VendorTokenInput id="vendor_tokens" controller="purchase"'

  .package_dates
    .param
      %label Date Required
      =hb 'view App.DateInput value=dateRequired'
    .param
      %label Date Expected
      =hb 'view App.DateInput value=dateExpected'

  .ordered_info
    .param
      %label Order Number
      =hb 'input value=order_number'
    .param
      %label Confirmation
      =hb 'input value=order_confirmation'

  .bottom_vendor_info
    .ordered_button
      %span{ _action: 'toggleOrdered', bind: { class: ':button :green isOrdered:button_down' }, title: 'Flag requisition as ordered' }
        Ordered!
    .tracking

      .tracking_num
        %label Tracking
        =hb 'input value=trackingNum'

      .courier
        %label Courier
        =hb 'view App.CourierSelect'


=hb 'view App.PeopleTabsView'
