
.vendor
  .param
    %label Vendor
    .fake_input=hb 'vendorString'
  .param
    %label Tracking
    .fake_input=hb 'trackingNum'
  .param
    %label Date Expected
    .fake_input=hb 'dateExpected'

.request
  .param
    %label Date Requested
    .fake_input=hb 'dateRequested'
  .param
    %label Date Approved
    .fake_input=hb 'dateApproved'
  .param
    %label Date Purchased
    .fake_input=hb 'datePurchased'
  .param
    %label Date Required
    .fake_input=hb 'dateRequired'

.requester
  .param
    %label Requester
    .fake_input=hb 'requester.name'
  .param
    %label Department
    .fixed_field
      =hb 'requester.department'
  .param
    %label Phone
    .fixed_field
      =hb 'requester.phone'
  .param
    %label Recipient
    .fake_input=hb 'recipient.name'
