
.col-lg-3
  %dl{ bind: { class: 'dateRequested::has-error' } }
    %dt Date Requested
    %dd=hb 'view App.DatePicker value=dateRequested'
  %dl
    %dt Date Approved
    %dd=hb 'view App.DatePicker value=dateApproved'
  %dl
    %dt Date Purchased
    %dd=hb 'view App.DatePicker value=datePurchased'
  %dl
    %dt Date Posted
    %dd=hb 'view App.DatePicker value=datePosted'
  %dl
    %dt Date Reconciled
    %dd=hb 'view App.DatePicker value=dateReconciled'

.col-lg-6
  .row
    %dl.vendor_row
      %dt="Vendor (#{hb 'vendorCount'})"
      %dd.vendor_token_input
        =hb 'view App.VendorTokenInput id="vendor_tokens" controller="purchase"'

  .row
    .col-lg-6.pull-left
      %dl
        %dt Date Required
        %dd=hb 'view App.DatePicker value=dateRequired'
      %dl
        %dt Expected Delivery
        %dd=hb 'view App.DatePicker value=dateExpected'
    .col-lg-6.pull-right
      %dl
        %dt Order Number
        %dd=hb 'input value=order_number class="form-control"'
      %dl
        %dt Courier
        %dd=hb 'view App.CourierSelect class="form-control" value=courier'

  .row
    .col-lg-4
      %button{ type: 'button', bind: { class: ':btn :btn-success :btn-lg isOrdered:active' }, _action: 'toggleOrdered', 'data-toggle' => 'tooltip', title: 'Flag requisition as ordered' }
        =fa_icon 'truck'
        Ordered!
    .col-lg-8
      %dl
        %dt Tracking
        %dd.tracking-num=hb 'input value=trackingNum class="form-control"'


.col-lg-3
  =hb 'partial "purchase/people_tabs_edit"'
