
%div{ hb: 'bind-attr title=controller.titleText class=":attached_item controller.isSelected:active"' }

  %a{ class: 'fancybox', hb: 'bind-attr href=attachment_preview_url title=attachment_file_name' }
    %img{ bind: { src: 'attachment_thumb_url' } }

  .thumb_hover
    =hb 'if view.canSelect' do
      %a{ _action: 'showPreview target="view" bubbles=false' }
        =fa_icon 'eye'

    %a{ target: '_blank', bind: { href: 'attachment_url' } }
      =fa_icon 'download'
    %a{ _action: 'deleteAttachment target="view" bubbles=false' }
      =fa_icon 'times'

  %div{ bind: { class: ':loading isDirty' } }
    =fa_icon 'spinner spin 3x'
    %br
    .progress
      .progress-bar{ role: 'progressbar', 'aria-valuemin' => '0', 'aria-valuemax' => '100', bind: { 'style' => 'progressAmountStyle'} }
    .text-center=hb 'progressText'
