.tabs
  -@tabs.each do |tab|
    -if @tab == tab
      .tab.clicked{ 'data-tab' => tab } #{tab}
    -else
      .tab{ 'data-tab' => tab } #{tab}
  .right_controls
    %span.buyers
      Filter by Buyer:
      =select_tag "filter_by_user", options_for_select([["All", 0]] + @buyers, selected: @buyer)
    %span.pages
      ="Page #{@page} of #{@purchases.num_pages}"
      .purchase_pagination
        =paginate @purchases, remote: true
.header_fields
  .controls_header
  .date_cell_header
    %i.icon-sort
    Date
  .vendor_cell_header
    %i.icon-sort
    Vendor
  .requester_cell_header
    %i.icon-sort
    Requester
  .department_cell_header
    %i.icon-sort
    Department
  .buyer_cell_header
    %i.icon-sort
    Buyer
  .tag_cells_header
    %i.icon-sort
    Tags
