
.col-xs-12.footer
  .col-xs-9
    Notes & Comments
    .notes
      -@purchase.tags.each do |tag|
        .tag=tag.name
      -@purchase.notes.each do |note|
        .note=note.text

  .col-xs-3.accounts
    %dl
      %dt Tax
      %dd=number_to_currency @purchase.tax_rate
    %dl
      %dt Labor
      %dd=number_to_currency @purchase.labor
    %dl
      %dt Ship
      %dd=number_to_currency @purchase.shipping
    %dl.strong
      %dt Total
      %dd=number_to_currency @purchase.total
