!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF8', 'http-equiv' => 'Content-Type' }
    =wicked_pdf_stylesheet_link_tag 'print/purchase.css', media: "all"
    =wicked_pdf_stylesheet_link_tag '_colors.css', media: "all"
    =wicked_pdf_stylesheet_link_tag '_reset.css', media: "all"
    =csrf_meta_tags
  %body
    .purchase_print_layout

      -(0..@lines.length).step(@lines_per_page) do |cur_start|
        .page
          -@page = (@page || 0) + 1
          =render '/print_layouts/purchase_header'

          .middle_fields
            %table.header_fields
              %tr.line
                %td.quantity Qty
                %td.quantity Unit
                %td.description Description
                %td.cost Unit Cost
                %td.cost Ext Cost
                %td.acct Fund
                %td.acct Org
                %td.acct Acct

            %table.lines
              -@lines[cur_start...(cur_start + @lines_per_page)].each do |line|

                %tr.line
                  %td.quantity=line.quantity
                  %td.quantity=line.unit
                  %td.description=line.description
                  %td.cost=number_to_currency line.price
                  %td.cost=number_to_currency line.total
                  %td.acct=@purchase.account.fund
                  %td.acct=@purchase.account.org
                  %td.acct=@purchase.account.acct

          =render '/print_layouts/purchase_footer'
          .page_numbers
            ="Page #{@page} of #{@num_pages}"
