!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF8', 'http-equiv' => 'Content-Type' }
    =wicked_pdf_stylesheet_link_tag 'bootstrap/dist/css/bootstrap.css', media: "all"
    =wicked_pdf_stylesheet_link_tag 'layout.css', media: "all"
    =wicked_pdf_stylesheet_link_tag 'print/purchase.css'
    =csrf_meta_tags

  %body
    .purchase_print_layout

      -(0..@lines.length).step(@lines_per_page) do |cur_start|
        .page
          -@page = (@page || 0) + 1
          =render '/print_layouts/purchase_header'

          .col-xs-12.middle-fields
            %table.table.table-striped
              %thead
                %tr
                  %th Qtys
                  %th Unit
                  %th Description
                  %th Unit Cost
                  %th Ext Cost
                  %th Fund
                  %th Org
                  %th Acct

              %tbody
                -@lines[cur_start...(cur_start + @lines_per_page)].each do |line|
                  %tr
                    %td=line.quantity
                    %td=line.unit
                    %td=line.description
                    %td=number_to_currency line.price
                    %td=number_to_currency line.total
                    %td=@purchase.account.try(:fund)
                    %td=@purchase.account.try(:org)
                    %td=@purchase.account.try(:acct)

          =render '/print_layouts/purchase_footer'
          .col-xs-12
            .pull-right="Page #{@page} of #{@num_pages}"
%script
  window.onload = function() { window.print(); };
