!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF8', 'http-equiv' => 'Content-Type' }
  %body

    %h2="Biola Purchase Requisition #{@purchase.id}"

    ="#{@name},"
    %br
    =@text
