
.h4 Line Items


.line_items_wrapper
  .line_items_scrollable
    %table.table
      %thead
        =hb 'partial "purchase/line_items/header"'

      %tbody
        =hb 'each line in controller' do
          =hb 'render "LineItemShow" line controller="LineItem"'

          =hb 'else'

          %tr
            %td{ colspan: 8 }
              .text-center No Line Items

