
.purchase_box
  .purchases_header
    =hb 'partial "purchases/header"'

  .purchases
    =hb 'each' do
      =hb 'view App.PurchasesRowView'

  .navigation_buttons
    =hb 'view App.SearchBoxView'
    =hb 'view App.AdvancedSearchBoxView'
    -permitted_to? :create, :purchases do
      .new_image_link#new{ _action: 'newPurchase' }
        =fa_icon 'plus 2x'

  #flash_parent
    =hb 'view App.NotificationView'
