
.modal#attachmentsModal{ role: 'dialog', 'area-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          =fa_icon 'times'
        %h4
          Attachments (
          =hb 'this.content.length'
          )

      .modal-body.attachments_container

        .assigned
          .h4 Assigned

          .attachments_categories
            .nav.nav-pills.nav-stacked
              =hb 'each tab in view.tabs' do
                =hb 'view App.AttachmentCategoryView category=tab selectedTab=view.selectedTab includePurchase=true'

          =hb 'view App.AttachmentsDroppable items=view.assignedAttachments selectedTab=view.selectedTab includePurchase=true class="attachments_assigned"'

        .unassigned
          .h4 UnAssigned
          =hb 'view App.AttachmentsDroppable items=view.unassignedAttachments class="attachments_unassigned"'
