
.modal#attachmentsModal{ role: 'dialog', 'area-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
          =fa_icon 'times'
        %h4
          Attachments (
          =hb 'this.content.length'
          )

        =hb 'if itemsAreSelected' do
          .col-xs-12.text-center
            .btn-group
              %button{ type: 'button', class: 'btn btn-success', _action: 'assign', 'data-toggle' => 'tooltip', title: 'Assign selected attachments' }
                =fa_icon 'arrow-left'
                Assign
                =hb 'numSelected'

              %button{ type: 'button', class: 'btn btn-link', _action: 'selectNone', 'data-toggle' => 'tooltip', title: 'Unselect all attachments' }
                =fa_icon 'ban lg'

              %button{ type: 'button', class: 'btn btn-danger', _action: 'unassign', 'data-toggle' => 'tooltip', title: 'Unassign selected attachments' }
                Unassign
                =fa_icon 'arrow-right'

      .modal-body.attachments_container

        .assigned
          .h4 Assigned

          .attachments_categories
            .nav.nav-pills.nav-stacked
              =hb 'each category in categories' do
                =hb 'view App.AttachmentCategoryView category=category selectedCategory=selectedCategory includePurchase=true'

          =hb 'view App.AttachmentsDroppable content=assignedAttachments selectedCategory=selectedCategory includePurchase=true class="attachments_assigned"'

        .unassigned
          .h4 UnAssigned
          =hb 'view App.AttachmentsDroppable content=unassignedAttachments class="attachments_unassigned"'
