
.attached_item{ hb: 'bind-attr title=controller.titleText' }

  %a{ class: 'fancybox', bind: { href: 'attachment_preview_url', title: 'attachment_file_name' } }
    %img{ bind: { src: 'attachment_thumb_url' } }

  .thumb_hover
    %a{ target: '_blank', bind: { href: 'attachment_url' } }
      =fa_icon 'download'
    %span{ _action: 'deleteAttachment target="view"' }
      =fa_icon 'times'

  %div{ bind: { class: ':loading isDirty' } }
    =fa_icon 'spinner spin 3x'
    %br
    =hb 'controller.model.progressAmount'
