.receiving_rec{ id: f.object.id, 'data-id' => f.object.id }
  =f.hidden_field :id, class: 'id'
  =f.hidden_field :total, class: 'total'
  .receiving_created
    =format_date f.object.created_at
  .receiving_total
    =f.object.total
  =f.hidden_field :_destroy
  .delete
    X
  .receiving_lines
    =f.fields_for :receiving_lines do |line|
      =render 'receiving_lines_fields', f: line
  .hidden.new_receiving_line{ 'data-new' => "#{render_new_line 'receiving_lines_fields', f, :receiving_lines}" }