.modal_close_field{ _action: 'closeFilter target="view"'}

.content
  .clear_filters
    %button{ _action: 'clearFilters target="view"', class: 'clickable', title: 'Reset all filters' } Clear Filters

  %h2 Buyer
  %dl
    %dt Filter by Buyer:
    %dd=hb 'view App.BuyerSelect selectedBinding="controller.metadata.filterBuyer"'

  %h2 Vendor
  %dl
    %dt Filter by Vendor:
    %dd=hb 'input valueBinding="controller.metadata.filterVendor"'

  %h2 Date
  .dayButtons
    .dayButton
      %button{ _action: 'twoWeeksAgo target="view"', class: 'clickable', title: 'Show records for two weeks ago' } Two Weeks ago
      %button{ _action: 'lastWeek target="view"', class: 'clickable', title: 'Show records for last week' } Last Week
      %button{ _action: 'thisWeek target="view"', class: 'clickable', title: 'Show records for this week' } This Week
    .dayButton
      %button{ _action: 'twoMonthsAgo target="view"', class: 'clickable', title: 'Show records for two months ago' } Two Months ago
      %button{ _action: 'lastMonth target="view"', class: 'clickable', title: 'Show records for last month' } Last Month
      %button{ _action: 'thisMonth target="view"', class: 'clickable', title: 'Show records for this month' } This Month

  %dl
    %dt Min Date:
    %dd=hb 'view App.DatePicker id="minDate" valueBinding="controller.metadata.filterMinDate"'

  %dl
    %dt Max Date:
    %dd=hb 'view App.DatePicker id="maxDate" valueBinding="controller.metadata.filterMaxDate"'

  %h2 Receiving
  %dl
    %dt Include Received
    %dd=hb 'input type="checkbox" id="receivedCheck" checkedBinding="controller.metadata.filterReceiving"'
  %dl
    %dt Include Pending
    %dd=hb 'input type="checkbox" id="pendingCheck" checkedBinding="controller.metadata.filterPending"'

  .submit
    .red.button{ _action: 'closeFilter target="view"', title: 'Close this window' }
      Cancel
    .green.button{ _action: 'applyFilter target="view"', title: 'Filter current records' }
      Filter
