
-if permitted_to? :reconcile, :purchases

  =hb 'if itemsSelected' do
    %button.btn-xs.btn.btn-success{ _action: 'unreconcileSelected', id: 'unreconcileSelected', title: 'Unreconcile selected records' }
      .total=hb 'numSelected'

    %button.btn-xs.btn.btn-info{ _action: 'selectAll', title: 'Select all records on current page' }
      =fa_icon 'check'

    %button.btn-xs.btn.btn-warning{ _action: 'selectNone', title: 'Unselect all records on current page' }
      =fa_icon 'ban'
