%tr
  %th{ colspan: 2, bind: { class: 'sortBuyer:sorted' }, 'data-toggle' => 'tooltip', title: 'Sort by Buyer' }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortBuyer' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ href: '#', _action: "sortClick 'buyer.name'" }
      Buyer

  %th{ bind: { class: 'sortDate:sorted' }, 'data-toggle' => 'tooltip', title: 'Sort by Date Requested' }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortDate' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ href: '#', _action: "sortClick 'dateRequested'" }
      Date

  %th{ bind: { class: 'sortVendor:sorted' }, 'data-toggle' => 'tooltip', title: 'Sort by Vendor' }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortVendor' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ href: '#', _action: "sortClick 'vendorString'" }
      Vendor

  %th{ bind: { class: 'sortRequester:sorted' }, 'data-toggle' => 'tooltip', title: 'Sort by Requester' }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortRequester' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ href: '#', _action: "sortClick 'requester.name'" }
      Requester

  %th{ bind: { class: 'sortDepartment:sorted' }, 'data-toggle' => 'tooltip', title: 'Sort by Requester\'s Department' }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortDepartment' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ href: '#', _action: "sortClick 'requester.department'" }
      Department

  %th
    Tags

  %th
    Total
