%tr
  %th{ colspan: 2, bind: { class: 'sortBuyer:sorted' } }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortBuyer' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ _action: "sortClick 'buyer.name'", 'data-toggle' => 'tooltip', title: 'Sort by Buyer' }
      Buyer

  %th{ bind: { class: 'sortDate:sorted' } }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortDate' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ _action: "sortClick 'dateRequested'", 'data-toggle' => 'tooltip', title: 'Sort by Date Requested' }
      Requested

  %th{ bind: { class: 'sortVendor:sorted' } }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortVendor' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ _action: "sortClick 'vendorString'", 'data-toggle' => 'tooltip', title: 'Sort by Vendor' }
      Vendor

  %th{ bind: { class: 'sortRequester:sorted' } }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortRequester' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ _action: "sortClick 'requester.name'", 'data-toggle' => 'tooltip', title: 'Sort by Requester' }
      Requester

  %th{ bind: { class: 'sortDepartment:sorted' } }
    .fa-stack.fa-lg
      =fa_icon 'sort stack-1x'
      =hb 'if sortDepartment' do
        %i{ bind: { class: ':isSorted sortDescending' } }
    %a{ _action: "sortClick 'requester.department'", 'data-toggle' => 'tooltip', title: 'Sort by Requester\'s Department' }
      Department

  %th
    Tags

  %th
    Total
