
.col-md-5.col-xs-12
  =hb 'view App.SearchBoxView value=purSearch'
  =hb 'view App.AdvancedSearchBoxView'

.col-xs-12.visible-xs.visible-sm
  %br

.col-md-5.col-sm-6.col-xs-12
  =hb 'if itemsSelected' do

    .action_controls
      =hb 'partial "purchases/action_buttons"'

    =hb 'else'

    =hb 'view App.PaginatorView'

.col-xs-12.visible-xs
  %br

.col-md-2.col-sm-6.col-xs-12.text-center
  -permitted_to? :create, :purchases do
    %button{ type: 'button', class: 'btn btn-lg btn-success', _action: 'newPurchase', 'data-toggle' => 'tooltip', title: 'New record' }
      =fa_icon 'plus 2x pull-left'
      New Record
