
-if permitted_to? :assign, :purchases

  =hb 'if itemsSelected' do
    %button.btn.btn-success{ _action: 'assignSelected', id: 'assignSelected', title: 'Assign selected records' }
      .total=hb 'numSelected'

    %button.btn.btn-info{ _action: 'selectAll', title: 'Select all records on current page' }
      =fa_icon 'check lg'

    %button.btn.btn-warning{ _action: 'selectNone', title: 'Unselect all records on current page' }
      =fa_icon 'ban lg'

    Assign to:
    =hb 'view App.AssignBuyerSelect'
