
-if permitted_to? :reconcile, :purchases

  =hb 'if isReconciling' do
    =hb 'if isSelecting' do
      .action_button.red{ _action: 'unreconcileSelected', id: 'unreconcileSelected', title: 'Unreconcile selected records' }
        .total=hb 'numSelected'

    .action_button.blue{ _action: 'selectAll', title: 'Select all records on current page' }
      =fa_icon 'list'

    .action_button.yellow{ _action: 'selectNone', title: 'Unselect all records on current page' }
      =fa_icon 'ban'

    .action_button.red{ _action: 'stopActivities', title: 'Exit unreconciling mode' }
      =fa_icon 'times'
