
-if permitted_to? :reconcile, :purchases

  =hb 'if isSelecting' do
    .button.green{ _action: 'reconcileSelected', id: 'reconcileSelected' }
      =fa_icon 'check'
      Reconcile
      =hb 'numSelected'
      item(s)

  =hb 'if isReconciling' do
    .button.blue{ _action: 'selectAll' }
      =fa_icon 'list'
      All

    .button.blue{ _action: 'selectNone' }
      =fa_icon 'rotate-left'
      Clear

    .button.red{ _action: 'stopReconciling' }
      =fa_icon 'times'
      Cancel

    =hb 'else'

    .button.blue{ _action: 'startReconciling' }
      =fa_icon 'folder-open-o'
      Start Reconciling
