
-if permitted_to? :reconcile, :purchases

  =hb 'if isReconciling' do
    =hb 'if isSelecting' do
      .action_button.green{ _action: 'reconcileSelected', id: 'reconcileSelected', title: 'Reconcile selected records' }
        .total=hb 'numSelected'

    .action_button.blue{ _action: 'selectAll', title: 'Select all records on current page' }
      =fa_icon 'check'

    .action_button.yellow{ _action: 'selectNone', title: 'Unselect all records on current page' }
      =fa_icon 'ban'

    .action_button.red{ _action: 'stopActivities', title: 'Exit reconciling mode' }
      =fa_icon 'times'
