=hb 'if selectedItems' do
  .button.green{ _action: 'reconcileSelected', id: 'reconcileSelected' }
    =fa_icon 'check'
    Reconcile Selected
.button.blue{ _action: 'reconcileAll', id: 'reconcileAll' }
  =fa_icon 'list'
  Reconcile All
