.tabs
  -@tabs.each do |tab|
    %span{ bind: { class: ":tab canTab#{tab}:clicked" }, _action: "tabClick '#{tab}'" }
      =tab

  .right_controls
    =hb 'if canTabPending' do
      -if permitted_to? :reconcile, :purchases
        =hb 'partial "purchases/header_controls_pending"'

    =hb 'if canTabReconciled' do
      -if permitted_to? :reconcile, :purchases
        =hb 'partial "purchases/header_controls_reconciled"'

    =hb 'if isNotReconciling' do
      =hb 'view App.FilterView'

    =hb 'view App.PaginatorView'

.header_fields
  =hb 'partial "purchases/header_fields"'

=hb 'view App.AdvancedFilterBoxView'
