
-if permitted_to? :assign, :purchases

  =hb 'if isAssigning' do
    =hb 'if isSelecting' do
      .action_button.green{ _action: 'assignSelected', id: 'assignSelected', title: 'Assign selected records' }
        .total=hb 'numSelected'

    .action_button.blue{ _action: 'selectAll', title: 'Select all records on current page' }
      =fa_icon 'check'

    .action_button.yellow{ _action: 'selectNone', title: 'Unselect all records on current page' }
      =fa_icon 'ban'

    .action_button.red{ _action: 'stopActivities', title: 'Exit assigning mode' }
      =fa_icon 'times'

    .assign_select
      Assign to:
      =hb 'view App.AssignBuyerSelect'
