
.purchase_box
  .purchases_tabs
    =hb 'partial "purchases/tabs"'

  %table.purchases_list
    %thead
      =hb 'partial "purchases/header_fields"'

    %tbody.purchases
      =hb 'each' do
        =hb 'view App.PurchasesRowView'

      =hb 'if noRecords' do
        %tr
          %td{ colspan: '' }
            .center
              %br
              No Records!

  .navigation_buttons
    =hb 'view App.SearchBoxView'
    =hb 'view App.AdvancedSearchBoxView'
    -permitted_to? :create, :purchases do
      .circle_button.green#new{ _action: 'newPurchase', title: 'New record' }
        =fa_icon 'plus 2x'

    .circle_button.grey{ _action: 'reloadPage', title: 'Reload current page' }
      =fa_icon 'refresh 2x'

  #flash_parent
    =hb 'view App.NotificationView'
  .main_spinner
    =fa_icon 'spinner spin'
  =hb 'view App.AdvancedFilterBoxView'
