
.purchase_box
  .purchases_header
    =hb 'partial "purchases/header"'

  .purchases
    =hb 'each' do
      =hb 'view App.PurchasesRowView'

  .navigation_buttons
    =hb 'view App.SearchBoxView'
    =hb 'view App.AdvancedSearchBoxView'
    -permitted_to? :create, :purchases do
      .circle_button.green#new{ _action: 'newPurchase', title: 'New record' }
        =fa_icon 'plus 2x'

    .circle_button.grey{ _action: 'reloadPage', title: 'Reload current page' }
      =fa_icon 'refresh 2x'

  #flash_parent
    =hb 'view App.NotificationView'
