
%span{ hb: 'bind-attr title=titleText class=":row isSelected isSelecting"' }
  .controls
    -if permitted_to? :update, :purchases
      =hb 'partial "views/star"'
    -else
      =hb 'partial "views/star_noaction"'

  .bar{ _action: 'openRecord' }
    .date_cell
      =hb 'medDate dateRequested'
    .vendor_cell
      =hb 'vendorString'
    .requester_cell
      =hb 'requester.name'
    .department_cell
      =hb 'requester.department'
    .buyer_cell
      =hb 'buyerFirstName'

  .tag_cells
    =hb 'each tags' do
      .small_tag
        =hb 'name'

  .price_cell
    =hb 'currency grandTotal'

  -permitted_to? :delete, :purchases do
    .delete.top_padded{ _action: 'deleteMe target="view"', title: 'Delete record' }
      =fa_icon 'times'


