%td.small_field
  -if permitted_to? :update, :purchases
    =hb 'partial "views/star"'
  -else
    =hb 'partial "views/star_noaction"'
.test_div
%td.small_field
  =hb 'buyerInitials'
%td
  =hb 'medDate dateRequested'
%td.left.bold
  =hb 'vendorString'
%td.left
  =hb 'requester.name'
%td.left
  =hb 'requester.department'

%td.tag_cells.left
  =hb 'each tags' do
    .small_tag
      =hb 'name'

%td.right.bold
  =hb 'currency grandTotal'


-permitted_to? :delete, :purchases do
  %td.small_field
    .delete.top_padded{ _action: 'deleteMe target="view"', title: 'Delete record' }
      =fa_icon 'times'

%td.row_clickable{ hb: 'bind-attr title=titleText action="openRecord"' }
