%td.hidden-xs
  -if permitted_to? :update, :purchases
    =hb 'partial "views/star"'
  -else
    =hb 'partial "views/star_noaction"'

%td.visible-lg
  =hb 'buyerInitials'

%td{ bind: { title: 'dateExpectedString' }, 'data-toggle' => 'tooltip' }
  =hb 'dateRequested'

%td
  %strong
    =hb 'vendorString'

%td.hidden-xs
  =hb 'requester.name'

%td.visible-lg
  =hb 'requester.department'

%td.tag_cells.visible-md.visible-lg
  =hb 'each tags' do
    .small_tag
      =hb 'name'

%td.hidden-xs
  %strong
    =hb 'currency grandTotal'

%td
  .btn-group
    .btn.btn-sm.btn-default{ _action: 'openRecordShow target="view" bubbles=false', 'data-toggle' => 'tooltip', title: 'Show record' }
      Show
    .btn.btn-sm.btn-default.dropdown-toggle{ 'data-toggle' => 'dropdown' }
      %span.caret
      %span.sr-only Actions
    %ul.dropdown-menu{ 'role' => 'menu' }
      %li{ _action: 'openRecordEdit target="view" bubbles=false', 'data-toggle' => 'tooltip', title: 'Edit record' }
        %a
          =fa_icon 'edit fw'
          Edit
      -permitted_to? :delete, :purchases do
        %li{ _action: 'deleteMe target="view" bubbles=false', 'data-toggle' => 'tooltip', title: 'Delete record' }
          %a
            =fa_icon 'times fw'
            Delete

      =hb 'if isSelected' do
        %li{ _action: 'selectRecord bubbles=false', 'data-toggle' => 'tooltip', title: 'Un-Select record' }
          %a
            =fa_icon 'circle-o fw'
            Un-Select

        =hb 'else'

        %li{ _action: 'selectRecord bubbles=false', 'data-toggle' => 'tooltip', title: 'Select record' }
          %a
            =fa_icon 'check fw'
            Select
