
%ul.nav.nav-tabs.purchases_tabs
  =hb 'each tabName in tabs' do
    =hb 'link-to "purchases.tabs" (query-params tab=tabName) tagName="li"' do
      %a{ _action: 'tabClick tabName bubbles=false' }
        =hb 'tabName'

  =hb 'if isSearchResults' do
    %li.active
      %a
        Search Results:
        %strong
          =hb 'metadata.total_count'
        Records
