
%ul.nav.nav-tabs.purchases_tabs
  =hb 'each tab in tabs' do
    =hb 'link-to "purchases.tabs" (query-params tab=tab) tagName="li"' do
      =hb 'link-to "purchases.tabs" (query-params tab=tab)' do
        =hb 'tab'

  =hb 'if isSearchResults' do
    %li.active
      %a
        Search Results:
        %strong
          =hb 'metadata.total_count'
        Records
