%header
  .header_title
    .logo
      =image_tag 'biola.png'
    %span
      Biola Purchasing Department

  .navigation_dropdown
    .navigation_menu{ title: 'Navigation menu' }
      =fa_icon 'reorder 2x'
    .navigation_items
      =navigation_menu

%content
  =hb 'outlet'
  =hb 'outlet modal'
  =hb 'outlet loadingOutlet'

%footer

