// Blues
//$lt_blue: #E4EEFF;
//$dk_blue: #3b5998; // Token borders
$link_blue: #4266B3;

// Greys
$white: #FFF;
$black: #000;
$dk_grey: #2e2e2e; // Edit Title
$md_dk_grey: #5C5C5C;
$md_grey: #C5C5C5; // Borders
$grey: #DFDFDF; // bg shading for edit
$lt_grey: #F5F5F5; // bg shading for purchases lists

// Tabs
$tab_back: $grey;
$tab_back_on: $white;

// Hovers
$hover: #D4E3FC;
$hover_dk: #74A1FF;

$focus_blue: #5E97F0;
$focus_blue_border: #3A89FF;

// Edit
$title: $dk_grey;

// Receiving
$hover_green_lt: #C5FFDD;
$hover_green_dk: #A4D8B9;
$hover_green_yellow: #AFEB80;
$hover_yellow: #FFFF98;

// Tag background
$yellow: #FFFF8B;

// Blues
$dk_blue: #223656; // Unused
$md_blue: #335180; // Unused
$lt_blue: #E8EEFF; // Receiving

// Reds
// Dark 85110D
// Mid BF1913
// Light? BC5653
$red: #AF403C; // Delete button
$red_hover: #91201B;
$background: #F5EDE2; // #b9ab99; //#D4E3FC; // #F2F5FF;
$star: #FFCF69;

// Buttons
.grey {
  background-color: $md_grey;
  &:hover { background-color: $grey; }
  &:active { background-color: $lt_grey; }
}

.red {
  background-color: #B65D5D;
  &:hover { background-color: #CA4343; }
  &:active { background-color: #D49D9B; }
}

.green {
  background-color: #7CC495;
  &:hover { background-color: #74DF95; }
  &:active { background-color: #A4D8B9; }
}

.blue {
  background-color: #648AC3;
  &:hover { background-color: #5E9BF8; }
  &:active { background-color: #A9BDDB; }
}

.button_down {
  box-shadow: inset 0 0 15px 25px rgba(255, 255, 255, .5);
  cursor: auto;
}

//$md_grey: #85878B; // Light shadow, main header
//$dk_grey: #505050; // Heavier shadow, top toolbar
$lt_red: #ffcdcd; // Stop button and stop_amount and error popup
$blue: rgb(83,94,166); // Top of background    #005B9A was #4B44A3
//$red: #e57575; // Delete button and text hover
