// Blues
$link_blue: #4266B3;
$blue: #648AC3;
$blue_hover: #5E9BF8;
$lt_blue: #E8EEFF; // Receiving / vendors

// Greys
$white: #FFF;
$black: #000;
$dk_grey: #2e2e2e; // Edit Title
$md_dk_grey: #5C5C5C;
$md_grey: #C5C5C5; // Borders
$grey: #DFDFDF; // bg shading for edit
$lt_grey: #F0F0F0; // bg shading for purchases lists

// Tabs
$tab_back: $grey;
$tab_back_on: $white;

// Hovers
$hover: #D4E3FC;
$hover_dk: #74A1FF;

$focus_blue: #5E97F0;
$focus_blue_border: #3A89FF;

// Receiving
$hover_green_lt: #C5FFDD;
$hover_green_dk: #A4D8B9;
$hover_green_yellow: #AFEB80;
$hover_yellow: #FFFF98;

// Tag background
$yellow: #FFFF8B;

// Reds
$red: #B65D5D; // Delete button
$red_hover: #CA4343;

$background: #F5EDE2; // #b9ab99; //#D4E3FC; // #F2F5FF;
$star: #FFCF69;

// Buttons
.grey {
  background-color: $grey;
  color: $dk_grey;
  text-shadow: none;

  &:hover { background-color: $md_grey; }
  &:active { background-color: $white; }
}

.red {
  background-color: $red;
  &:hover { background-color: $red_hover; }
  &:active { background-color: #D49D9B; }
}

.green {
  background-color: #7CC495;
  &:hover { background-color: #74DF95; }
  &:active { background-color: #A4D8B9; }
}

.blue {
  background-color: $blue;
  &:hover { background-color: $blue_hover; }
  &:active { background-color: #A9BDDB; }
}

.yellow {
  background-color: $yellow;
  &:hover { background-color: #FFFF32; }
  &:active { background-color: #FBFFA5; }
}

.button_down {
  box-shadow: inset 0 0 15px 25px rgba(255, 255, 255, .5);
  cursor: auto;
}

//$md_grey: #85878B; // Light shadow, main header
//$dk_grey: #505050; // Heavier shadow, top toolbar
$lt_red: #ffcdcd; // Stop button and stop_amount and error popup
$blue: rgb(83,94,166); // Top of background    #005B9A was #4B44A3
//$red: #e57575; // Delete button and text hover
