@import "colors";

#attachmentsModal {

  .modal-dialog {
    width: 1000px;

    .attachments_container {
      height: 472px;
      padding-left: 0;
      padding-right: 0;

      .attachments_categories {
        height: 400px;
        width: 200px;
        overflow: auto;
        float: left;
      }

      .category {
        border: 3px solid transparent;
      }

      .attachments_box {
        height: 340px;
        overflow-y: auto;
        border: 3px solid transparent;
      }

      .attachments_unassigned {
        background-color: $grey;
        border: 1px solid $md_grey;
        border-radius: 3px;
      }

      .h4 {
        margin-bottom: 15px;
      }

      .is-dragging {
        border: 3px dashed $hover_green_dk;
        background-color: $hover;
      }
    }
  }

}
