@import "colors";

#attachmentsModal {

  .modal-dialog {
    width: 1050px;
    vertical-align: top;

    .attachments_container {
      height: 472px;

      .assigned {
        width: 604px;
        display: inline-block;

        .attachments_categories {
          vertical-align: top;
          height: 390px;
          width: 200px;
          display: inline-block;

          .category {
            border: 3px solid transparent;
          }
        }

        .attachments_assigned {
        }
      }

      .unassigned {
        width: 400px;
        display: inline-block;

        .attachments_unassigned {
          background-color: $grey;
          border: 3px solid $md_grey;
          border-radius: 3px;
        }
      }

      .attachments_box {
        vertical-align: top;
        display: inline-block;
        border: 3px solid transparent;
        height: 395px;
        width: 400px;
      }

      .h4 {
        margin-bottom: 15px;
      }

      .is-dragging {
        border: 3px dashed $hover_green_dk !important;
        background-color: $hover !important;
      }
    }
  }

}
