@import "colors";


input {
  &:hover { background-color: $hover; }
  border: 1px solid $md_grey;
  padding: 2px;
}

.edit_box {
  text-align: left;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  min-width: 1110px;

  #flash_parent {
    top: 11px;
    left: 320px;
  }

  .all-received {
    background-color: $focus_blue;
  }
  h2 {
    padding-left: 10px;
    padding-right: 60px;
    height: 40px;
    margin: 0;
    background-color: $title;
    font-size: 120%;
    color: $white;

    .fa-star-o {
      color: $star;
    }

    .box_title {
      display: inline-block;
      padding-top: 10px;

      .star {
        margin-top: -10px;
      }
    }

    .edit_bar_controls {
      float: right;
      margin-right: 50px;

      .big_delete_button {
        margin-top: 6px;
      }

      .attachments {
        i {
          padding-right: 5px;
          color: $red;
        }
        display: inline-block;
        padding: 5px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 20px;
        img { width: 35px; }

        &:hover { background-color: $md_grey; }
      }

      .email {
        @extend .attachments;
        i {
          color: $md_blue;
        }
      }

      .print {
        @extend .attachments;
        i {
          color: $yellow;
        }
      }
    }
  }


  .attachmentsContainer {
    position: fixed;

    .attachments_modal {
      position: fixed;
      top: 150px;
      width: 500px;
      left: 50%;
      margin-left: -250px;
      min-height: 300px;
      background-color: $lt_grey;
      border: 1px solid $dk_grey;
      border-radius: 15px;
      box-shadow: 2px 2px 25px $dk_grey;

      .content {
        padding: 10px;

        .title {
          font-weight: bold;
        }

        .attached_item {
          display: inline-block;
          border: 1px solid $dk_grey;
          box-shadow: 2px 2px 5px $dk_grey;
          background-color: $white;
          width: 70px;
          height: 100px;
          margin: 15px;

          img {
            cursor: pointer;
          }

          &:hover {
            .thumb_hover {
              display: block;
            }

            box-shadow: 0px 0px 15px $focus_blue;
          }

          .thumb_hover {
            position: absolute;
            display: none;
            margin-left: 8px;
            margin-top: 65px;
            i {
              background-color: rgba(0, 0, 0, .55);
              color: $white;
              padding: 5px 6px 5px 6px;
              cursor: pointer;
              border-radius: 10px;
            }
          }

          .loading {
            display: none;
            position: absolute;
            width: 48px;
            height: 63px;
            background-color: $white;
            color: $focus_blue;
            padding-top: 37px;
            padding-left: 22px;
          }
          .is-dirty {
            display: block;
          }

          .file_name {
            display: inline-block;
            width: 200px;
          }
          .file_type {
            display: inline-block;
            width: 50px;
          }
          .file_size {
            display: inline-block;
            width: 50px;
          }
        }
      }
    }

    .is-dragging {
      border: 3px dashed $hover_green_dk;
      background-color: $hover
    }
  }

  .attachment_preview {
    position: fixed;

    img {
      position: fixed;
      margin: auto;
      top: 50px;
      left: 0;
      right: 0;
    }
  }


  .edit_box_content {
    width: 98.7%;
    padding: 10px;

    .top_info {
      display: block;


      .lg_input {
        width: 250px;
        float: right;
      }
      .md_input {
        width: 43%;
      }
      .datepicker {
        text-align: center;
      }
      .fixed_field {
        float: right;
      }
      .param {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 90%;
        vertical-align: top;

        font-style: italic;
        input {
          height: 16px;
          float: right;
        }
      }
      label {
        margin: 0;
        padding: 0;
        border: 0;
        display: inline-block;
        color: $dk_grey;
        font-style: italic;
        padding-right: 5px;
        text-align: left;
      }


      .vendor {
        display: inline-block;
        width: 41%;
        padding-left: 3%;
        margin-bottom: 10px;

        .vendor_param {
          @extend .param;
          width: auto;
          padding: 7px 0px 7px 10px;
          border: 1px solid $dk_grey;
          border-radius: 6px;
          background-color: $grey;
          font-weight: bold;
          margin-bottom: 7px;
        }

        .package_dates {
          display: inline-block;
          width: 47%;
        }

        .ordered_info {
          display: inline-block;
          width: 47%;
          margin-left: 5%;

          input {
            width: 45%;
          }
        }

        .bottom_vendor_info {
          margin-top: 7px;

          .ordered_button {
            float: left;
            .button {
              padding: 8px 20px 8px 20px;
            }
            span {
              margin: 0;
            }
          }

          .tracking {
            float: right;
            margin-top: 7px;
            margin-left: 5px;
            width: calc( 100% - 110px );

            .tracking_num {
              display: inline-block;
              width: calc( 100% - 138px );

              input {
                width: calc( 100% - 88px );
                height: 16px;
                margin-left: 15px;
              }
            }

            .courier {
              display: inline-block;
              padding-left: 1%;

              label {
                padding-right: 0;
              }
              select {
                text-align: center;
                width: 75px;
                margin-left: 0px;
              }
            }
          }
        }
      }

      .dates {
        display: inline-block;
        width: 21%;
      }

      .person {
        display: inline-block;
        width: 30%;
        padding-left: 3%;

        .ui-tabs {
          border: none;

          .ui-tabs-nav {
            border: none;
            border-radius: 0;
            background: none;

            li {
              display: inline-block;
              border: none;
              background: $grey;
              box-shadow: inset 0px -5px 10px -5px $md_grey;
            }

            .ui-tabs-active {
              background: $lt_grey;
              color: $black;
              box-shadow: none;
            }

            .ui-tabs-anchor {
              padding: 0px 15px 0px 15px;
              outline: none;
            }
          }

          .ui-tabs-panel {
            background: $lt_grey;
            border: none;
            padding: 5px 8px 5px 8px;
          }
        }
      }
    }

    .middle_info {
      position: absolute;
      height: calc( 100% - 525px );
      width: 100%;

      .line_items_container {
        display: inline-block;
        width: calc(100% - 380px);

        .line_items_header {
          padding-top: 8px;
          padding-left: 28px;

          .field_header {
            display: inline-block;
            text-align: center;
            font-style: italic;
            font-size: 80%;
          }
          .description_field_header {
            @extend .field_header;
            text-align: left;
            width: calc(100% - 416px);
          }
          .unit_field_header {
            @extend .field_header;
            width: 40px;
          }
          .quantity_field_header {
            @extend .field_header;
            width: 56px;
          }
          .received_count_header {
            @extend .field_header;
            width: 93px;
          }
          .price_field_header {
            @extend .field_header;
            width: 87px;
          }
        }

        .line_items {
          positon: absolute;
          user-select: none;
          background-color: $lt_grey;
          height: calc( 100% - 60px );
          width: calc( 100% - 380px );
          overflow-y: auto;
          width: 100%;

          .line_item:nth-child(even) {
            background-color: $white;
          }
          .is-highlighted-partial {
            background-color: $hover_green_lt !important;
          }
          .is-highlighted-all {
            background-color: $hover_green_dk !important;
          }
          .is-editing {
            background-color: $hover_yellow !important;
          }
          .is-edit-highlighted {
            background-color: $hover_green_yellow !important;
          }

          .line_item {
            padding-top: 2.5px;
            padding-bottom: 2.5px;
            &:hover { background-color: $hover; }

            .field {
              display: inline-block;
              background-color: rgba(0,0,0,0);
            }
            .line_number {
              @extend .field;
              width: 25px;
              text-align: right;
              padding-top: 3px;
            }
            .description_field {
              @extend .field;
              width: calc(100% - 450px);
            }
            .unit_field {
              @extend .field;
              width: 30px;
            }
            .quantity_field {
              @extend .field;
              width: 50px;
              text-align: center;
            }
            .total_received {
              @extend .field;
              width: 45px;
              font-weight: bold;
              background-color: $lt_blue;
              text-align: center;
            }
            .receiving_left {
              display: inline-block;
              margin-left: 45px;
              margin-right: 2px;
              color: $dk_grey;
              background-color: $grey;
              box-shadow: 1px 1px 3px $black;
              padding: 1px 2px 1px 2px;
              border-radius: 15px;
              cursor: pointer;

              &:hover {
                background-color: $lt_grey;
              }
              &:active {
                background-color: $red;
                color: $white;
                box-shadow: none;
              }
            }
            .received_input {
              @extend .field;
              text-align: center;
              width: 54px;
            }
            .over-received {
              background-color: $red;
              color: $white;
            }
            .full-received {
              background-color: $hover_green_dk;
            }
            .partial-received {
              background-color: $hover_yellow;
            }
            .receiving_right {
              @extend .receiving_left;
              margin-left: 2px;
              margin-right: 70px;

              &:active {
                background-color: $hover_green_dk;
                color: $black;
              }
            }
            .cur_received {
              @extend .field;
              width: 45px;
              text-align: center;
            }
            .price_field {
              @extend .field;
              width: 80px;
              text-align: right;
            }
            .extended_field {
              @extend .price_field;
              border: none;
            }
            .proxy_field {
              @extend .field;
              width: 72px;
              font-weight: bold;
              text-align: center;
            }
            .proxy_padding {
              padding-left: 32px;
              padding-right: 32px;
            }
          }
        }
      }


      .receiving_container {
        display: inline-block;
        width: 348px;
        margin-right: 15px;

        .receiving_header {
          padding-top: 8px;
          padding-left: 7px;

          .receiving_header_cell {
            display: inline-block;
            text-align: center;
            font-style: italic;
            font-size: 80%;
          }
          .receiving_created_field_header {
            @extend .receiving_header_cell;
            width: 110px;
          }
          .receiving_total_field_header {
            @extend .receiving_header_cell;
            width: 30px;
            text-align: right;
          }
          .receiving_package_field_header {
            @extend .receiving_header_cell;
            text-align: center;
            width: 45px;
          }
          .receiving_package_date_field_header {
            @extend .receiving_created_field_header;
          }
        }

        .receiving_docs {
          margin-bottom: 15px;
          height: 195px;
          max-height: 195px;
          overflow: auto;
          border: 1px solid #999;
          border-radius: 5px;
          background-color: $lt_blue;
          position: absolute;
          top: 40px;
          max-height: calc( 100% - 90px );
          min-height: 52px;

          .receiving_rec:nth-child(even) {
            background-color: $lt_grey;
          }
          .is-editing {
            background-color: $hover_green_dk !important;
          }
          .receiving_rec {
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;

            &:hover { background-color: $hover; }

            .row {
              display: inline-block;

              .receiving_cell {
                display: inline-block;
                vertical-align: top;
                height: 23px;
                text-align: center;
              }
              .receiving_package {
                @extend .receiving_cell;
                input {
                  background-color: transparent;
                  text-align: center;
                  font-weight: bold;
                  width: 45px;
                }
              }
              .receiving_package_date {
                @extend .receiving_cell;
                input {
                  background-color: transparent;
                  width: 90px;
                }
              }
              .receiving_created {
                @extend .receiving_cell;
                font-style: italic;
                width: 110px;
              }
              .receiving_total {
                @extend .receiving_cell;
                width: 30px;
                text-align: right;
              }
            }
          }
        }

        .receiving_controls {
          position: absolute;
          bottom: 0;

          .all_received {
            display: inline-block;
            font-weight: bold;
            padding-left: 15px;
            margin-top: 8px;
            text-align: center;
          }
        }
      }
    }

    .bottom_info {
      position: fixed;
      bottom: 15px;
      left: 15;
      background-color: $white;

      .notes_tags {
        display: inline-block;
        width: calc(100% - 380px);

        .note_header {
          padding-top: 8px;
        }
        .notes {
          height: 95px;
          max-height: 95px;
          overflow-y: auto;
          padding-bottom: 10px;

          .note {
            margin-top: 5px;
            margin-left: 5px;
          }
        }

        .field {
          display: inline-block;
        }
        .note_field {
          @extend .field;
          width: calc( 100% - 410px );
        }
        .note_date {
          @extend .field;
          width: 110px;
          text-align: center;
        }
        .note_user {
          @extend .field;
          width: 100px;
          text-align: center;
        }
        .note_gap {
          padding-left: 15px;
        }
        .note_big_gap {
          padding-left: 45px;
        }

        .tags {
          margin-top: 10px;

          .small_tag {
            display: inline-block;
            background-color: $yellow;
            border-radius: 6px;
            border: 1px solid $black;
            box-shadow: 1px 1px 3px $dk_grey;
            padding: 3px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 100%;
            font-weight: bold;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
              background-color: $hover;
            }
          }

          .delete {
            box-shadow: none;
            background-color: transparent;
            color: $red;
            margin-right: -5px;

            &:hover{ background-color: transparent; }
          }

          .add_tag_list {
            display: inline-block;
            width: auto;
            padding-top: 4px;
            padding-left: 10px;
          }
        }
      }

      .account_container {
        display: inline-block;
        width: 350px;
        margin-left: 15px;
        text-align: left;
        font-size: 110%;
        font-weight: 500;

        dl {
          height: 25px;
        }
        dt {
          display: inline-block;
        }
        dd {
          display: inline-block;
          text-align: right;
          float: right;
        }

        .account {
          padding-top: 20px;

          span {
            padding-left: 10px;
          }

          .new_account_fields {
            background-color: $lt_grey;
            border: 1px solid $dk_grey;
            box-shadow: 2px 2px 5px $dk_grey;
            border-radius: 5px;

            input {
              margin: 10px 0 10px 10px;
            }

            .new_fund_field {
              width: 45px;
            }
            .new_org_field {
              width: 45px;
            }
            .new_acct_field {
              width: 37px;
            }

            span {
              padding: 10px;
              float: right;
            }
          }
        }
        .new_account_loading {
          width: 100%;
          text-align: center;
        }

        .totals {
          margin-top: 20px;

          input {
            text-align: right;
          }
          .total {
            border-top: 1px solid $dk_grey;
            font-size: 120%;
            font-weight: 800;
          }

        }
      }

      .bottom_left {
        margin-top: 35px;
        display: inline-block;
        width: calc( 100% - 400px );

        .last_modified {
          display: inline-block;
          color: $dk_grey;
        }
      }

      .bottom_right {
        float: right;
        display: inline-block;
        text-align: right;
        margin-right: 20px;

        .bottom_button {
          display: inline-block;
          font-size: 120%;
          margin-top: 30px;
          margin-left: 25px;
          margin-right: 5px;
        }
      }
    }
  }
}

.is-reconciled {
  background-color: $hover_green_lt;
  h2 {
    background-color: #134B23;
  }
}

.is-cancelled {
  background-color: $grey;

  h2 {
    background-color: $md_dk_grey;
  }
}

.fake_input {
  display: inline-block;
  float: right;
  width: 150px;
  height: 18px;
  background-color: white;
  border: 1px solid $md_grey;
  text-align: center;
  padding-top: 2px;
}

.edit_title {
  background-color: $md_grey;
  padding: 5px;
  padding-left: 10px;
  margin-top: 5px;
  color: $dk_grey;
  font-weight: 700;
}

.is-deleted {
  input, div {
    text-decoration: line-through;
    color: $grey;
  }
}
