@import "colors";

.fancybox-controls {
  position: fixed;
  display: none;
  top: 15px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  z-index: 8100;
  cursor: pointer;

  .rotate-control {
    display: inline-block;
    border: 4px solid $white;
    border-radius: 25px;
    background-color: $black;
    padding: 7px 9px;
    color: $white;

    &:hover {
      background-color: $blue;
    }
  }
}


.fancybox-opened {
  transition-duration: 0.3s;
}
