@import "colors";

#flash_parent {
  position: absolute;
  top: 10px;
  margin-left: 195px;
  z-index: 49;
}
.notice {
  display: inline-block;
  border: 1px solid $black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $yellow;
  color: $blue;
  border-radius: 5px;
  box-shadow: 2px 2px 5px $dk_grey;
  user-select: none;
  cursor: pointer;
  margin-left: 15px;
}
.close_obj {
  color: $red;
  padding-left: 10px;
  font-weight: 800;
}
.error {
  @extend .notice;
  background-color: $red;
  color: $white;
  .close_obj { color: $white; }
}
.warning {
  @extend .notice;
  color: $red;
}
