@import "colors";

.h4 {
  border-bottom: 1px solid $dk_grey;
  color: $dk_grey;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
}

.biola_logo {
  margin-top: -14px;
  margin-bottom: -10px;
  max-width: 35px;
}

.day.range { background: $hover !important; }
.day.selected:not(.active) {  background: $hover_dk !important; }

.delete_container {
  width: 40px;
  padding: 6px 0 0 0 !important;
}

.delete {
  padding: 3px 5px 2px 5px;
  font-size: 70%;
  font-weight: 450;
  cursor: pointer;
  display: none;
  color: $md_dk_grey;

  i { font-size: 1.5em; }

  &:hover {
    color: $white;
    background-color: $red_hover;
    border-radius: 15px;
    box-shadow: -1px -1px  2px 1px rgba(50, 50, 50, 0.5) inset, 2px 2px 4px $md_grey;
  }
  &:active {
    color: $white;
    background-color: $red;
  }
}

table>tbody>tr {
  &:hover {
    .delete {
      display: inline-block;
    }
  }
}

.bottom-padded { margin-bottom: 15px; }
.top-padded { margin-top: 15px; }

input.datepicker {
  text-align: center;
}

dl {
  margin-bottom: 10px;

  dt {
    display: inline-block;
    margin-top: 4px;
  }
  dd {
    float: right;
    input {
      padding: 0 5px;
    }
  }
}

.impersonating {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $red;
  color: $white;
  text-align: center;
  padding: 15px 0;
  box-shadow:  0px -2px 15px black;
  z-index: 1050;
}

.main_spinner {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  color: $hover_dk;
  text-align: center;
  padding-top: 350px;
  font-size: 1000%;
}

.input-daterange {
  .form-control {
    display: inline-block;
    width: auto;
  }
}

.strong {
  font-weight: 800;
  overflow: hidden;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.strikethrough {
  text-decoration: line-through;
}

.notificationContainer {
  z-index: 2000 !important;
  position: absolute;
  top: 6px;
  left: 520px;
}

.user_info {
  hr { margin-bottom: 0; }
}

.full-received { background-color: $hover_green_dk !important; }
.partial-received { background-color: $hover_yellow !important; }
.over-received {
  background-color: $red !important;
  color: $white;
}

// Bootstrap tweaks

.alert {
  z-index: 2000 !important;
  padding: 9px 35px 9px 15px;

  @media (min-width: 992px) { display: inline-block; }
}

a { cursor: pointer; }

.tooltip {
  z-index: 2000 !important;
  dl {
    margin: 0;
    dt { margin: 0; }
    dd { margin: 0 0 0 20px; }
  }
  .tooltip-inner {
    max-width: 1000px;
    text-align: left;
  }
}

.modal-backdrop { background-color: $white; }

button.btn {
  border-radius: 10px;
  padding: 3px 12px;
  margin: 0 10px;

  i {
    vertical-align: middle;
  }
}

.navbar-nav > li { display: inline-block; }

@media (max-width: 1200px) {
  .h4 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
