@import "colors";

.biola_logo {
  margin-top: -14px;
  margin-bottom: -10px;
  max-width: 35px;
}

button.btn {
  box-shadow: 2px 2px 7px $dk_grey;
  border-radius: 10px;
  padding: 3px 12px;
  margin: 0 10px;

  i {
    vertical-align: middle;
  }
}

button.btn.btn-link {
  box-shadow: none;
}

.delete {
  padding: 3px 5px 2px 5px;
  font-size: 70%;
  font-weight: 450;
  cursor: pointer;
  display: none;
  color: $md_dk_grey;

  i { font-size: 1.5em; }

  &:hover {
    color: $white;
    background-color: $red_hover;
    border-radius: 15px;
    box-shadow: -1px -1px  2px 1px rgba(50, 50, 50, 0.5) inset, 2px 2px 4px $md_grey;
  }
  &:active {
    color: $white;
    background-color: $red;
  }
}

input.datepicker {
  text-align: center;
}

.form-control {
  height: 28px;
}

dl {
  margin-bottom: 10px;

  dt {
    display: inline-block;
    margin-top: 4px;
  }
  dd {
    float: right;
    input {
      padding: 0 5px;
    }
  }
}
