@import "colors";

.navigation_buttons {
  position: absolute;
  top: 10px;
  right: 50px;

  .quick_search_form {
    display: inline-block;
    text-align: center;

    input[type='text'] {
      padding: 7px;
      width: 180px;
      border-radius: 5px;
      border: 1px solid $dk_grey;
      box-shadow: 2px 2px 6px -1px #333 inset;
    }
    .advanced {
      background-color: rgba(0, 0, 0, 0);
      float: left;
      margin-top: -6px;
      margin-left: 40px;
      color: #FFF;
      box-shadow: none;
    }
  }

  .navigation_circle_button {
    padding: 4px 7px 4px 7px;
    border-radius: 25px;
    color: $white;
    box-shadow: inset 11px 11px 3px -7px rgba( 255, 255, 255, 0.35), 0px 0px 5px 2px $white;
    border: 0;
    display: inline-block;
    margin: 8px;
    background-color: #fff;
    &:hover { color: $hover; }
  }

  .new_image_link {
    @extend .navigation_circle_button;
    background-color: #1E802F;
  }
  .search_image_link {
    @extend .navigation_circle_button;
    padding: 5px 6px 5px 6px;
    background-color: #275179;
  }
}

.navigation_dropdown {
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 100;

  .navigation_menu {
    display: inline-block;
    width: 33px;
    height: 32px;
    padding: 10px;
    color: $white;
    border: 1px solid transparent;

    &:hover {
      color: $black;
      background-color: $hover;
      border: 1px solid $dk_grey;
    }
  }

  .on {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    background-position: -350px 4px;
  }
  .navigation_items{

    display: none;
    position: absolute;
    background-color: $lt_grey;
    border: 1px solid $dk_grey;
    top: 51px;
    right: 0px;
    cursor: pointer;
    box-shadow: 2px 2px 5px $black;

    li {
      list-style: none;
      border-bottom: 1px solid $grey;

      a {
        box-shadow: none;
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 7px;
        padding-left: 75px;
        padding-right: 60px;
        text-align: left;
        font-size: 130%;
        text-decoration: none;
        color: $black;
        height: 30px;

        &:hover {
          background-color: $hover;
          color: $link_blue;
        }

        i {
          float: left;
          margin-top: -5px;
          margin-left: -60px;
          color: $dk_grey;
        }
      }
    }
    .active {
      text-align: center;
      background-color: $md_grey;
      color: $white;
      &:hover {
        background-color: $dk_grey;
        color: $white;
        cursor: default;
      }

      i {
        color: $white;
      }
    }
  }
}
