@import "colors";

.navigation_buttons {
  position: absolute;
  top: 10px;
  right: 50px;

  .quick_search_form {
    display: inline-block;
    text-align: center;

    input[type='text'] {
      padding: 5px;
      width: 180px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px -1px #333 inset;
    }
    .advanced {
      background-color: rgba(0, 0, 0, 0);
      float: left;
      margin-top: -13px;
      margin-left: 40px;
      color: #FFF;
      box-shadow: none;
    }
  }

  a, input[type='image'] {
    border: 0;
    display: inline-block;
    margin: 8px;
    box-shadow: 0px 0px 6px #fff;
    border-radius: 45px;
    background-color: #fff;
    padding: 2px;
    &:hover {
      background-color: $hover;
      font: $white;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.navigation_dropdown {
  position: absolute;
  top: 10px;
  right: 0px;

  .navigation_menu {
    display: inline-block;
    width: 33px;
    height: 32px;
    padding: 10px;
    background-image: image-url('icons.png');
    background-position: -393px 48px;
    border: 1px solid transparent;

    &:hover {
      background-color: $hover;
      border: 1px solid $dk_grey;
    }
  }

  .on {
    background-color: $white;
    border: 1px solid $black;
    background-position: -350px 4px;
  }
  .navigation_items{

    display: none;
    position: absolute;
    background-color: $lt_grey;
    border: 1px solid $dk_grey;
    top: 51px;
    right: 0px;
    cursor: pointer;
    box-shadow: 2px 2px 5px $black;

    li {
      list-style: none;
      border-bottom: 1px solid $grey;

      a {
        box-shadow: none;
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 7px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: left;
        font-size: 130%;
        text-decoration: none;
        color: $black;
        &:hover {
          background-color: $hover;
          color: $link_blue;
        }
      }
      a:before {
        content: "";
        position: absolute;
        left: 0px;
        height: 33px;
        width: 32px;
        margin-top: -5px;
        margin-left: 5px;
        background-image: image-url('icons.png');
      }
      .active {
        text-align: center;
        background-color: $md_grey;
        color: $white;
        &:before { background-image: none; }
        &:hover {
          background-color: $dk_grey;
          color: $white;
          cursor: default;
        }
      }

      // Purchase -14 -127
      .nav_purchases {
        &:before{ background-position: -12px -87px; }
      }
      // User -433 -7
      .nav_users {
        &:before{ background-position: -315px -5px; }
      }
      // Vendor -193 -7
      .nav_vendors {
        &:before{ background-position: -141px -5px; }
      }
      // Reports  -73 -7
      .nav_reports {
        &:before{ background-position: -54px -5px; }
      }
      // Tags -13 -67
      .nav_tags {
        &:before{ background-position: -10px -48px; }
      }
      // Settings  -13 -7
      .nav_settings {
        &:before{ background-position: -11px -5px; }
      }
      .nav_logout {
        &:before{ background-position: -182px -48px; }
      }
    }
  }
}
