@import "colors";

.action_controls {
  display: inline-block;
  padding: 8px 45px;
  border: 1p solid $md_dk_grey;
  border-radius: 10px;
  background-color: $lt_grey;
  margin-bottom: 10px;

  button {
    margin-right: 10px;
  }

  span {
    margin-left: 20px;
    .form-control {
      width: 100px;
      display: inline-block;
    }
  }
}

.pagination {
  vertical-align: middle;
  margin: 0 25px;
}

.purchases_tabs {
  margin-top: 20px;
}

.table {
  border-left: 1px solid $grey;

  thead {

    th {
      vertical-align: middle !important;

      .fa-sort {
        color: $grey;
      }
      .isSorted {
        color: $md_dk_grey;
      }
    }
  }

  tbody {

    .all-received {
      background-color: $hover_green_lt !important;
    }

    .past-due {
      background-color: $lt-red !important;
    }


    tr {
      &:nth-child(odd) { background-color: $lt_grey; }

      .row_controls {

        @media (min-width: 768px) { width: 140px; }

        .active {
          box-shadow: inset 1px 1px 7px -1px $md_dk_grey;
        }
      }

      .tag_cells {
        padding: 0px;

        .small_tag {
          display: inline-block;
          background-color: $yellow;
          border-radius: 6px;
          font-size: 80%;
          margin: 2px;
          padding: 0 3px 0 3px;
          box-shadow: 1px 1px 3px $dk_grey;
        }
      }
    }

    tr:nth-child(odd).highlight, tr:nth-child(even).highlight { background-color: $hover_dk; }
    tr:nth-child(odd):hover, tr:nth-child(even):hover { background-color: $hover; }
    tr:nth-child(odd).is-selected, tr:nth-child(even).is-selected {
      background-color: $hover_yellow;
      &:hover {
        background-color: $hover_green_yellow;
      }
    }

  }
  .sort-buyer {
    width: 110px;
  }
}


.fa-star {
  color: $star;
}


.purchase_row_hover {
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 20px;
  max-height: 85%;
  overflow-y: auto;
  box-shadow: 3px 3px 25px $md_dk_grey;
  background-color: $white;
  padding: 15px;
  border-radius: 5px;
}

.advanced_search_box {
  .modal-dialog {
    position: fixed;
    width: 700px;
    left: 15px;
    top: 30px;
  }
}
