@import "colors";
@import "compass";

.purchase_box {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;

  .purchases_header {
    .tabs {
      display: block;
      height: 35px;
      padding: 0;
      margin: 0;
      line-height: 1;
      border-bottom: 1px solid $md_grey;
      text-align: left;

      .tab {
        float: left;
        cursor: pointer;
        height: 24px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        border: 1px solid $md_grey;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $tab_back;
        color: $white;
        font-weight: bold;
        box-shadow: 0px -20px 15px -25px rgb(0, 0, 0) inset;
        &:hover {
          background-color: $hover;
          color: $black;
        }
      }
      .clicked {
        background-color: $tab_back_on;
        color: $black;
        border-bottom: 1px solid $tab_back_on;
        box-shadow: none;
        cursor: default;
        &:hover {
          background-color: $white;
        }
      }
    }

    .right_controls {
      float: right;

      .purchase_pagination {
        display: inline-block;
      }
    }

    .advanced_filter_box {
      position: fixed;

      .content {
        position: fixed;
        top: 128px;
        right: 325px;
        border-radius: 5px;
        box-shadow: 2px 2px 15px $dk_grey;
        background-color: $white;
        width: 320px;
        text-align: left;
        z-index: 50;

        dl {
          padding-bottom: 5px;
          padding-left: 15px;
          padding-right: 15px;
          dt {
            display: inline-block;
            padding-top: 5px;
          }
          dd {
            display: inline-block;
            float: right;
          }
        }

        h2 {
          color: $dk_grey;
          padding-left: 15px;
          padding-right: 15px;
          margin-top: 10px;
          margin-bottom: 5px;
          border-bottom: 1px solid $dk_grey;
        }
        .dayButtons {
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;

          .dayButton {
            padding-top: 5px;
            text-align: center;
          }
        }

        .clear_filters {
          text-align: center;
          padding-top: 10px;
        }

        .submit {
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }

    .header_fields {
      display: block;
      width: 100%;
      background-color: $white;
      border-right: 1px solid $md_grey;
      border-left: 1px solid $md_grey;
      padding-top: 10px;
      text-align: left;
      font-style: italic;
      color: $link_blue;

      .cell {
        display: inline-block;
        padding-left: 10px;
        padding-top: 10px;
        height: 24px;
        text-align: left;
        overflow: hidden;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .cell:hover {
        text-decoration: underline;
        cursor: pointer;
        i { text-decoration: none; }
      }

      .date_cell_header {
        @extend .cell;
        width: 63px;
        margin-left: 18px;
      }
      .vendor_cell_header {
        @extend .cell;
        width: 290px;
      }
      .requester_cell_header {
        @extend .cell;
        width: 120px;
      }
      .department_cell_header {
        @extend .cell;
        width: 120px;
      }
      .buyer_cell_header {
        @extend .requester_cell_header;
        width: 140px;
        text-align: center;
      }
      .tag_cells_header {
        display: inline-block;
        padding: 0px;
        padding-top: 10px;
        width: 150px;
        color: black;
        margin-left: 20px;
      }
      .total_cell_header {
        @extend .tag_cells_header;
        width: 50px;
        text-align: center;
      }

      .top_padded {
        margin-top: 8px;
      }

      i { color: $grey; }

      .sorted {
        font-weight: bold;
        .isSorted {
          color: $blue;
        }
      }
      .fa-stack {
        margin-top: -9px;
        margin-right: -10px;
      }
    }
  }
  .purchases {
    min-height: 50px;
    background-color: $lt_grey;

    .row {
      text-align: left;
      display: block;
      width: 100%;
      height: 40px;
      background-color: $lt_grey;
      border-bottom: 1px solid $md_grey;
      cursor: pointer;
      border-right: 1px solid $md_grey;
      border-left: 1px solid $md_grey;
      &:hover { background-color: $hover; }

      .controls {
        vertical-align: top;
        display: inline-block;
        width: 14px;

        [class^="fa-"], [class*=" fa-"] {
          padding-top: 5px;
          margin-left: 2px;
        }
        .star {
          text-align: center;
        }
         .fa-star-o {
          color: $dk_grey;
        }
        input {
          display: inline-block;
          margin-left: 5px;
          margin-top: 5px;
        }
      }
      .link {
        vertical-align: top;
        display: inline-block;
      }
      .hidden_box {
        padding-top: 15px;
        width: 100%;
        height: 100%;
        display: none;
      }

      .bar {
        display: inline-block;
        height: 40px;
        overflow: hidden;

        .center {
          text-align: center;
        }
        .cell {
          display: inline-block;
          padding-left: 10px;
          padding-top: 10px;
          height: 18px;
          overflow: hidden;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .date_cell {
          @extend .cell;
          width: 68px;
          text-align: center;
          padding-left: 17px;
        }
        .requester_cell {
          @extend .cell;
          width: 120px;
        }
        .buyer_cell {
          @extend .requester_cell;
          width: 120px;
          text-align: center;
        }
        .vendor_cell {
          @extend .cell;
          font-weight: bold;
          width: 300px;
          padding-left: 0;
        }
        .department_cell {
          @extend .cell;
          width: 130px;
          height: 18px;
        }
      }

      .top_padded {
        margin-top: 8px;
      }
      .tag_cells {
        @extend.controls;
        padding: 0px;
        padding-left: 15px;
        width: 150px;
        overflow: hidden;
        height: 38px;

        .small_tag {
          display: inline-block;
          background-color: $yellow;
          border-radius: 6px;
          font-size: 80%;
          margin: 2px;
          padding-left: 3px;
          padding-right: 3px;
          box-shadow: 1px 1px 3px $dk_grey;
        }
      }

      .price_cell {
        display: inline-block;
        padding-top: 9px;
        width: 75px;
        text-align: right;
        font-weight: bold;
      }
    }

    .is-selected {
      background-color: $hover_yellow;

      &:hover {
        background-color: $hover_green_lt
      }
    }
  }
}

.star {
  vertical-align: top;
  display: inline-block;
  margin-left: 12px;
  margin-top: -8px;
  width: 35px;
  height: 35px;
}


.ui-tooltip {
  transition-duration: 0s;
  display: inline-block;
  text-align: left;
  vertical-align: top;

  .ui-tooltip-content{
    background-color: #FFE9CB;
    text-align: left;
    vertical-align: top;
    box-shadow: 2px 2px 15px $dk_grey;
    padding: 0 5px;
    border-radius: 5px;

    .content {
      padding: 10px;

      dl {
        dt {
          font-weight: bold;
          float: left;
          margin-right: 10px;
          width: 90px;
        }
        dd {
        }
      }
    }
    .tooltip_items {
      text-align: left;
      vertical-align: top;

      .partial {
        background-color: $yellow;
      }
      .complete {
        background-color: $hover_green_dk;
      }

      .tooltip_item {
        display: block;

        .tooltip_cell {
          display: inline-block;
        }

        .tooltip_description {
          @extend .tooltip_cell;
          min-width: 340px;
          max-width: 640px;
          text-align: left;
          overflow: hidden;
        }

        .tooltip_unit {
          @extend .tooltip_cell;
          text-align: center;
          width: 35px;
          font-style: italic;
        }
        .tooltip_quantity {
          @extend .tooltip_cell;
          width: 30px;
          font-weight: 800;
          text-align: right;
        }
      }
    }
  }
}

.fa-star {
  color: $star;
}
