@import 'colors';

.edit_tag_box {
  width: 500px;
  height: 450px;
  position: fixed;
  left: 50%;
  top: 150px;
  margin-left: -250px;
  background-color: $white;
  border: 1px solid $dk_grey;
  border-radius: 15px;
  box-shadow: 2px 2px 7px $dk_grey;

  .tags {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 365px;
    overflow-y: auto;

    .tag {
      background-color: $yellow;
      box-shadow: 2px 2px 3px $dk_grey;
      margin: 5px auto 5px auto;
      width: 375px;
      border-radius: 10px;
      height: 27px;
      padding-top: 3px;
      padding-bottom: 3px;

      &:hover {
        background-color: $hover;

        .delete {
          display: inline-block;
        }
      }

      .bar {
        width: 335px;
        float: left;
        padding-top: 5px;

        label {
          padding: 5px;
          width: 220px;
        }

        .delete {
          float: right;
          margin-right: 10px;
          margin-top: 5px;
        }
      }

      input[placeholder], [placeholder], *[placeholder] {
       color: $black !important;
      }

      input {
        padding: 5px;
        width: 220px;
      }

      .controls {
        float: right;
        span {
          display: inline-block;
          padding-top: 3px;
          padding-right: 15px;
        }
      }
    }
    .is-editing {
      background-color: $hover_green_lt;
    }
  }

  .controls {
    input {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
