@import "colors";

.impersonate_bar {
  padding: 15px 0;
}

.accounts_list {
  tbody>tr {
    &:hover {
      .delete {
        display: inline-block;
      }
    }

    .delete_container {
      width: 200px;
      text-align: right;
    }
  }
}
