@import "colors";


.user_box {
  width: 100%;

  h2 {
    font-size: 150%;
  }

  .page_box {
    margin-top: -27px;
    margin-right: 75px;
    float: right;
  }

  .user_list {
    margin-top: 15px;
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;

    .user:nth-child(even) {
      background-color: $white;
    }
    .user {
      padding: 5px;
      border: 1px solid $grey;
      background-color: $lt_grey;
      font-style: normal;

      &:hover {
        background-color: $hover;
      }
    }

    .field {
      display: inline-block;
    }
    .name {
      @extend .field;
      width: 255px;
    }
    .username {
      @extend .field;
      width: 65px;
    }
    .title {
      @extend .field;
      width: 155px;
    }
    .department {
      @extend .field;
      width: 300px;
    }
    .email {
      @extend .field;
      width: 255px;
    }
    .phone {
      @extend .field;
      width: 65px;
    }
    .current_login {
      @extend .field;
      width: 95px;
    }
    .last_login {
      @extend .field;
      width: 95px;
    }
    .login_count {
      @extend .field;
      width: 25px;
    }

  }
}


.user_edit_box {
  width: 600px;
  height: 320px;
  position: fixed;
  left: 50%;
  top: 220px;
  margin-left: -300px;
  background-color: $white;
  border: 1px solid $dk_grey;
  border-radius: 15px;
  box-shadow: 2px 2px 15px $dk_grey;
  text-align: left;

  h2 {
    color: $white;
    padding: 10px;
    box-shadow: none;
    background-color: $dk_grey;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .content {
    padding: 10px;

    .account_list {
      margin-top: 15px;

      .account:nth-child(even) {
        background-color: $white;
      }

      .account {
        background-color: $lt_grey;
        height: 24px;
        padding-top: 5px;

        .bar {
          display: inline-block;
        }

        .delete {
          display: inline-block;
          margin: 5px;
          float: right;
        }


        .controls {
          float: right;
          span {
            display: inline-block;
            padding-top: 3px;
            padding-right: 15px;
          }
        }

        &:hover {
          background-color: $hover;
        }
      }
    }

    .bottom_controls {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }

  }
}
