=hb 'modal-dialog action="close"' do

  .vendor_edit_box
    %h2
      =hb 'if id' do
        Edit Record
        =hb 'id'
        =hb 'else'
        New Record
    .content
      .vendor_name
        .params
          %label Name
          =hb 'input value=name'
      -permitted_to? :delete, :vendors do
        .destroy
          .delete_a
            Delete Vendor
            -#=link_to "Delete Vendor", @vendor, method: :delete, data: { confirm: "Are you sure?" }, remote: true

      .links
        .params
          %label Web
          =hb 'input value=website'
        .params
          %label Email
          =hb 'input value=email'

      .left
        .params
          %label Address
          =hb 'input value=address'
        .params
          %label City
          =hb 'input value=city'
        .params
          %label State
          =hb 'input value=state'
        .params
          %label Zip-code
          =hb 'input value=zip_code'
        .params
          %label Country
          =hb 'input value=country'

      .right
        %br
        .params
          %label Account Number
          -#=f.text_field :account_num
        .params
          %label Ph:
          -#=f.text_field :phone
        .params
          %label Fx:
          -#=f.text_field :fax

      .controls
        =submit_tag "Cancel", class: " button bottom_button red", remote: true
        -permitted_to? :update, :vendors do
          =submit_tag "Save", class: "button bottom_button green"
