
=hb 'view App.NotificationView'


.row
  .col-md-5.col-xs-12
    =hb 'view App.QuickSearchBoxView value=vendSearch includeAdvanced=false'

  .col-xs-12.visible-xs.visible-sm
    %br

  .col-md-5.col-sm-6.col-xs-12
    =hb 'view App.PaginatorView'

  .col-xs-12.visible-xs
    %br

  .col-md-2.col-sm-6.col-xs-12.text-center
    =hb 'if App.current_user.is_buyer' do
      %button{ type: 'button', class: 'btn btn-lg btn-success', _action: 'newRecord', 'data-toggle' => 'tooltip', title: 'New Vendor' }
        =fa_icon 'plus 2x'
        New Record

.row
  .col-xs-12.text-center.vendor-letters
    =hb 'each getAllLetters' do
      =hb "view App.LetterPaginatorView contentBinding='this'"

.row.text-center
  .vendor_list
    =hb 'each' do
      =hb 'view App.VendorRecordView'

      =hb 'else'

      %br
      .text-center No records found
