.navigation_buttons
  =hb 'view App.VendorSearchBox'
  -permitted_to? :create, :vendors do
    .circle_button.green#new{ _action: 'newRecord', title: 'New Vendor' }
      =fa_icon 'plus 2x'

.vendor_box
  %h2
    Vendors
  .page_box
    =hb 'view App.PaginatorView'

  .filter_bar
    =hb 'each getAllLetters' do
      =hb "view App.LetterPaginatorView contentBinding='this'"
  .vendor_list
    =hb 'each' do
      =hb 'view App.VendorRecordView'

    =hb 'if noRecordsFound' do
      %br
      No records found
  #flash_parent
    =hb 'view App.NotificationView'
