
.modal-header
  %h2
    =hb 'if id' do
      Vendor
      =hb 'id'

    %button.close{ type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
      =fa_icon 'times'

.modal-body
  .col-lg-12
    .form-group
      %label Name
      =hb 'name'

  .col-lg-12
    .form-group
      %label Web
      %a{ bind: { href: 'website_url' } }
        =hb 'website'
    .form-group
      %label Email
      %a{ bind: { href: 'email_url' } }
        =hb 'email'

  .row
    .col-lg-6
      .form-group
        %label Address
        =hb 'address'
      .form-group
        %label City
        =hb 'city'
      .form-group
        %label State
        =hb 'state'
      .form-group
        %label Zip-code
        =hb 'zip_code'
      .form-group
        %label Country
        =hb 'country'

    .col-lg-6
      .form-group
        %label Account
        =hb 'account_num'
      .form-group
        %label Ph:
        =hb 'phone'
      .form-group
        %label Fx:
        =hb 'fax'

.modal-footer
  .pull-left
    -permitted_to? :delete, :vendors do
      =hb 'if id' do
        =hb 'if num_purchases' do
          %button{ class: 'btn btn-danger active', disabled: true, 'data-toggle' => 'tooltip', title: 'Cannot delete this vendor, it has related purchases' }
            =fa_icon 'times'
            Delete Vendor

          =hb 'else'

          %button{ class: 'btn btn-danger', _action: 'deleteRecord', 'data-toggle' => 'tooltip', title: 'Delete Vendor<br/>(Note: cannot delete a vendor if a Purchase Requisition uses it)' }
            =fa_icon 'times'
            Delete Vendor

  .pull-right
    %button{ class: 'btn btn-default', _action: 'startEditing', 'data-toggle' => 'tooltip', title: 'Edit Record' }
      =fa_icon 'rotate-left'
      Edit
