.vendor{ _action: 'openRecord'}
  .title
    =hb 'name'
  .content
    .links
      =hb 'if hasWebsite' do
        .website
          Web:
          =hb 'get_url website'
      =hb 'if hasEmail' do
        .email
          Email:
          =hb 'get_url email'

    %br
    .left
      .address=hb 'address'
      .city_state=hb 'city_state'
      .zip_code=hb 'zip_code'
      .country=hb 'country'

    .right
      .account=hb 'account_num'
      .phone
        %span.label="Ph: "
        %span.text=hb 'phone'
      .fax
        %span.label="Fx: "
        %span.text=hb 'fax'

