
.title
  =hb 'name'

%address
  %br

  =hb 'if hasWebsite' do
    Web:
    %a{ bind: { href: 'website_url' } }
      =hb 'website'
    %br

  =hb 'if hasEmail' do
    Email:
    %a{ bind: { href: 'email_url' } }
      =hb 'email'
    %br

  .col-lg-7.text-left
    =hb 'address'
    =hb 'if city_state' do
      %br
      =hb 'city_state'
    =hb 'if zip_code' do
      %br
      =hb 'zip_code'
    =hb 'if country' do
      %br
      =hb 'country'

  .col-lg-5.text-left
    =hb 'account_num'

    %br
    %abbr{ title: 'Phone' }
      Ph:
    =hb 'phone'

    %br
    %abbr{ title: 'Fax' }
      Fx:
    =hb 'fax'

