.modal_close_field{ _action: 'closeSearch target="view"'}

.content
  .dates
    %dl
      %dt Date Requested
      %dd=hb 'view App.DateInput id="dateRequested"'
    %dl
      %dt Date Purchased
      %dd=hb 'view App.DateInput id="datePurchased"'
    %dl
      %dt Date Expected
      %dd=hb 'view App.DateInput id="dateExpected"'

  %dl
    %dt Vendor Name
    %dd=hb 'input class="name_item" id="vendor"'
  %dl
    %dt Requester Name
    %dd=hb 'input class="name_item" id="requester"'
  %dl
    %dt Buyer Name
    %dd=hb 'input class="name_item" id="buyer"'

  %br
  %dl
    %dt Item Description
    %dd=hb 'input class="line_item" id="description"'

  .submit_button
    .red.button{ _action: 'closeSearch target="view"', title: 'Close Advanced Search' }
      Cancel
    .green.button{ _action: 'startAdvancedSearch target="view"', title: 'Start Search' }
      Search!
