
.purchase_box

  .purchases_header

    .tabs
      Found:
      =hb 'foundCount'
      record(s)

      .right_controls
        =hb 'view App.PaginatorView'

    .header_fields
      =hb 'partial "purchases/header_fields"'

  .purchases
    =hb 'each' do
      =hb 'view App.PurchasesRowView'


  .navigation_buttons
    =hb 'view App.SearchBoxView'
    =hb 'view App.AdvancedSearchBoxView'

  #flash_parent
    =hb 'view App.NotificationView'
