
=hb 'view App.NotificationView'


.col-lg-4
  =hb 'view App.QuickSearchBoxView value=purSearch'
  =hb 'view App.AdvancedSearchBoxView'

.col-lg-5.col-lg-offset-1
  =hb 'view App.PaginatorView'

.col-lg-2
  .pull-right
    =hb 'if App.current_user.is_buyer' do
      %button{ type: 'button', class: 'btn btn-lg btn-success', _action: 'newPurchase', 'data-toggle' => 'tooltip', title: 'New record' }
        =fa_icon 'plus 2x pull-left'
        New Record


.col-lg-12

  %ul.nav.nav-tabs.purchases_tabs
    =hb 'partial "purchases/tabs"'

  %table.table
    %thead
      =hb 'partial "purchases/header_fields"'

    %tbody.purchases

      =hb 'each' do
        =hb 'view App.PurchasesRowView'

        =hb 'else'

        %tr
          %td{ colspan: 8 }
            .center
              %br
              %p.text-center.h3
                No Records!

=hb 'view App.PurchaseHoverDocView content=hoverDoc'
