.quick_search_form
  .search_form_input
    =hb 'view App.FocusableBoxView target="controller"'
    =hb 'includeAdvanced'
    =hb 'if view.includeAdvanced' do
      %span{ _action: 'searchAdvanced target="view"' }
        =fa_icon 'sort-asc'

  .search_image_link{ _action: 'startSearch' }
    =fa_icon 'search 2x'
