%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: 'api/1.0/users/impersonate?user_role=buyer' } Impersonate a Buyer

%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: 'api/1.0/users/impersonate?user_role=receiver' } Impersonate a Receiver

%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: 'api/1.0/users/impersonate?user_role=employee' }  Impersonate a Employee
