.button.green_back
  %a{ href: '/users/impersonate?user_role=buyer' } Impersonate a Buyer

.button.green_back
  %a{ href: '/users/impersonate?user_role=receiver' } Impersonate a Receiver

.button.green_back
  %a{ href: '/users/impersonate?user_role=employee' }  Impersonate a Employee
