%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: '/users/impersonate?user_role=buyer' } Impersonate a Buyer

%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: '/users/impersonate?user_role=receiver' } Impersonate a Receiver

%button{ type: 'button', class: 'btn btn-lg btn-default' }
  %a{ href: '/users/impersonate?user_role=employee' }  Impersonate a Employee
