.navigation_buttons
  =hb 'view App.UserSearchBox'

.user_box
  %h2
    Users
  .page_box
    =hb 'view App.PaginatorView'

  -if current_user.can_impersonate?
    .impersonate
      =render partial: 'impersonate_buttons'

  %table.user_list
    %thead
      %tr
        %td #
        %td.left Name
        %td Username
        %td.left Title
        %td.left Department
        %td.left Email
        %td Phone
        %td Current Login
        %td Last Login
        %td Logins

    %tbody
      =hb 'each' do
        =hb 'view App.UserRecordView'

    =hb 'if noRecordsFound' do
      %br
      No records found
  #flash_parent
    =hb 'view App.NotificationView'
