#flash_parent
  =hb 'view App.NotificationView'

.col-lg-12
  .row
    .col-lg-4
      =hb 'view App.UserSearchBox value=userSearch'

    .col-lg-5.col-lg-offset-1
      =hb 'view App.PaginatorView'

-if current_user.can_impersonate?
  .impersonate_bar.col-lg-12.text-center
    =render partial: 'impersonate_buttons'

.col-lg-12
  %table.table.table-striped.table-hover
    %thead
      %tr
        %td #
        %td.text-left Name
        %td Username
        %td.text-left Title
        %td.text-left Department
        %td.text-left Email
        %td Phone
        %td Current Login
        %td Last Login
        %td Logins

    %tbody
      =hb 'each' do
        =hb 'view App.UserRecordView'

    =hb 'if noRecordsFound' do
      %br.text-center
        No records found
