
%td.small{ title: 'Number of accounts this user has' }=hb 'number_accounts'
%td.left=hb 'name'
%td=hb 'username'
%td.left=hb 'title'
%td.left=hb 'department'
%td.left
  %a{ bind: { href: 'emailLink' } }
    =hb 'email'
%td=hb 'phone'
%td=hb 'current_login_at'
%td=hb 'last_login_at'
%td=hb 'login_count'
