
.name=hb 'name'
.username=hb 'username'
.title=hb 'title'
.department=hb 'department'
.email=hb 'email'
.phone=hb 'phone'
.current_login=hb 'current_login_at'
.last_login=hb 'last_login_at'
.login_count=hb 'login_count'
